# Updating All Features for new data

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import random
import shutil
import plotly
import warnings
import datetime
# ignore warnings
warnings.filterwarnings('ignore')
os.chdir('C:\\Users\\Travis\\OneDrive\\Data Science\\Personal_Projects\\Sports\\NBA_Prediction_V3_1')

In [15]:
df = pd.read_csv('data/team/aggregates/Both_Team_Boxscores_ALL_with_Trad_Difs.csv')
df.shape

(82468, 230)

In [16]:
# DF is the df with all the new data

df = pd.read_csv('data/team/aggregates/Both_Team_Boxscores_ALL_with_Trad_Difs.csv')

df.trad_gamedate = pd.to_datetime(df.trad_gamedate)
df.trad_gamedate = df.trad_gamedate.dt.date

# sort by date
df = df.sort_values(by=['trad_gamedate'], ascending=False)
# drop duplicates
df.drop_duplicates(subset = ['trad_matchup'], inplace=True)
# reset index
df.reset_index(drop=True, inplace=True)
df.head()

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_t2_ft_percent,t1_t2_oreb,t1_t2_dreb,t1_t2_reb,t1_t2_ast,t1_t2_stl,t1_t2_blk,t1_t2_tov,t1_t2_pf,who_wins
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,0.024,-6.0,8.0,2.0,8.0,3.0,5.0,-2.0,-2.0,t1
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,-0.344,8.0,8.0,16.0,3.0,1.0,1.0,0.0,3.0,t1
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.344,-8.0,-8.0,-16.0,-3.0,-1.0,-1.0,0.0,-3.0,t2
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,-0.103,0.0,9.0,9.0,-14.0,-1.0,-3.0,2.0,-1.0,t1
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,0.134,4.0,5.0,9.0,-6.0,1.0,-1.0,2.0,-9.0,t1

In [17]:
df['days_since_dec_1'] = (df.trad_gamedate - datetime.date(2022, 12, 1)).dt.days

In [18]:
df

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_t2_oreb,t1_t2_dreb,t1_t2_reb,t1_t2_ast,t1_t2_stl,t1_t2_blk,t1_t2_tov,t1_t2_pf,who_wins,days_since_dec_1
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,-6.0,8.0,2.0,8.0,3.0,5.0,-2.0,-2.0,t1,41
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,8.0,8.0,16.0,3.0,1.0,1.0,0.0,3.0,t1,41
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,-8.0,-8.0,-16.0,-3.0,-1.0,-1.0,0.0,-3.0,t2,41
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.0,9.0,9.0,-14.0,-1.0,-3.0,2.0,-1.0,t1,41
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,4.0,5.0,9.0,-6.0,1.0,-1.0,2.0,-9.0,t1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,3279,1766,LAL,LAL @ NJN,2010-12-12,W,48.0,99.0,34.0,82.0,...,-6.0,3.0,-3.0,3.0,5.0,0.0,-2.0,-7.0,t1,-4372
1968,3482,1969,POR,POR @ NJN,2010-11-28,L,48.0,96.0,33.0,78.0,...,9.0,-6.0,3.0,-3.0,3.0,1.0,-3.0,-2.0,t2,-4386
1969,3488,1975,NJN,NJN vs. POR,2010-11-28,W,48.0,98.0,31.0,59.0,...,-9.0,6.0,-3.0,3.0,-3.0,-1.0,3.0,2.0,t1,-4386
1970,3918,2405,NJN,NJN vs. SAC,2010-10-29,W,48.0,106.0,32.0,61.0,...,-5.0,17.0,12.0,-3.0,-5.0,1.0,15.0,-2.0,t1,-4416
1971,3923,2410,SAC,SAC @ NJN,2010-10-29,L,48.0,100.0,39.0,93.0,...,5.0,-17.0,-12.0,3.0,5.0,-1.0,-15.0,2.0,t2,-4416

In [19]:
df.shape
print(f' the BothTeamBoxes Dataframe is {df.shape[0]} rows and {df.shape[1]} columns')

 the BothTeamBoxes Dataframe is 1972 rows and 231 columns

In [20]:
today = datetime.datetime.today().strftime('%Y-%m-%d')

In [21]:
old_df_final = pd.read_csv('data/team/aggregates/daily_updates/Updated_All_Things_'+ str(today) +'.csv')

# sort by date
#old_df_final.trad_gamedate = pd.to_datetime(old_df_final.trad_gamedate)
old_df_final = old_df_final.sort_values(by=['trad_gamedate'], ascending=False)
old_df_final['trad_gamedate'] = pd.to_datetime(old_df_final['trad_gamedate'])
print(old_df_final.shape)
old_df_final.head(1)

(23086, 914)

,Unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,trad_fg%,...,BL,PTS,POSS,PACE,OEFF,DEFF,HALFTIME,BOX SCORE\nURL,Opp_Abbrev,Nba_com_team_2_abbrev
0,54500,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,0.458,...,3.0,115.0,105.726818,105.726818,108.770889,127.687565,114.5,NaN,Sac,SAC

In [22]:

latest_game = pd.to_datetime(old_df_final['trad_gamedate'].values[0])
# turn latest_game to timestamp
latest_game = latest_game.date()

latest_game_days_since_dec1 = ((latest_game) - datetime.date(2022, 12, 1)).days
print(latest_game_days_since_dec1)

41

## TODO: FIX THIS AFTER TEST RUNNING

In [27]:
missing_games = df[df['days_since_dec_1'] > (latest_game_days_since_dec1-1)]
missing_games = missing_games.drop_duplicates(subset=['trad_matchup'])
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_t2_oreb,t1_t2_dreb,t1_t2_reb,t1_t2_ast,t1_t2_stl,t1_t2_blk,t1_t2_tov,t1_t2_pf,who_wins,days_since_dec_1
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,-6.0,8.0,2.0,8.0,3.0,5.0,-2.0,-2.0,t1,41
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,8.0,8.0,16.0,3.0,1.0,1.0,0.0,3.0,t1,41
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,-8.0,-8.0,-16.0,-3.0,-1.0,-1.0,0.0,-3.0,t2,41
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.0,9.0,9.0,-14.0,-1.0,-3.0,2.0,-1.0,t1,41
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,4.0,5.0,9.0,-6.0,1.0,-1.0,2.0,-9.0,t1,41
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,7.0,10.0,17.0,2.0,2.0,1.0,0.0,-1.0,t1,41
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,4.0,9.0,13.0,5.0,-2.0,-3.0,6.0,-1.0,t1,41
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,-8.0,2.0,-6.0,2.0,5.0,2.0,-9.0,3.0,t1,41
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,6.0,-8.0,-2.0,-8.0,-3.0,-5.0,2.0,2.0,t2,41
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,-7.0,-10.0,-17.0,-2.0,-2.0,-1.0,0.0,1.0,t2,41
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,8.0,-2.0,6.0,-2.0,-5.0,-2.0,9.0,-3.0,t2,41
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,0.0,-9.0,-9.0,14.0,1.0,3.0,-2.0,1.0,t2,41
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,-4.0,-9.0,-13.0,-5.0,2.0,3.0,-6.0,1.0,t2,41
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,-4.0,-5.0,-9.0,6.0,-1.0,1.0,-2.0,9.0,t2,41
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,1.0,-4.0,-3.0,-2.0,-3.0,1.0,-5.0,-4.0,t1,41
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,-1.0,4.0,3.0,2.0,3.0,-1.0,5.0,4.0,t2,41

In [28]:
print(f' You have {missing_games.shape[0]} games to add to your dataset')

missing_games

 You have 16 games to add to your dataset

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_t2_oreb,t1_t2_dreb,t1_t2_reb,t1_t2_ast,t1_t2_stl,t1_t2_blk,t1_t2_tov,t1_t2_pf,who_wins,days_since_dec_1
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,-6.0,8.0,2.0,8.0,3.0,5.0,-2.0,-2.0,t1,41
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,8.0,8.0,16.0,3.0,1.0,1.0,0.0,3.0,t1,41
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,-8.0,-8.0,-16.0,-3.0,-1.0,-1.0,0.0,-3.0,t2,41
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.0,9.0,9.0,-14.0,-1.0,-3.0,2.0,-1.0,t1,41
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,4.0,5.0,9.0,-6.0,1.0,-1.0,2.0,-9.0,t1,41
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,7.0,10.0,17.0,2.0,2.0,1.0,0.0,-1.0,t1,41
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,4.0,9.0,13.0,5.0,-2.0,-3.0,6.0,-1.0,t1,41
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,-8.0,2.0,-6.0,2.0,5.0,2.0,-9.0,3.0,t1,41
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,6.0,-8.0,-2.0,-8.0,-3.0,-5.0,2.0,2.0,t2,41
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,-7.0,-10.0,-17.0,-2.0,-2.0,-1.0,0.0,1.0,t2,41
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,8.0,-2.0,6.0,-2.0,-5.0,-2.0,9.0,-3.0,t2,41
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,0.0,-9.0,-9.0,14.0,1.0,3.0,-2.0,1.0,t2,41
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,-4.0,-9.0,-13.0,-5.0,2.0,3.0,-6.0,1.0,t2,41
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,-4.0,-5.0,-9.0,6.0,-1.0,1.0,-2.0,9.0,t2,41
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,1.0,-4.0,-3.0,-2.0,-3.0,1.0,-5.0,-4.0,t1,41
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,-1.0,4.0,3.0,2.0,3.0,-1.0,5.0,4.0,t2,41

In [29]:
# if missing games is empty, then stop here
if missing_games.shape[0] == 0:
    print('You have no missing games')
    # stop here

In [30]:
all_cols = list(missing_games.columns)
all_cols = [n for n in all_cols if 'Unnamed' not in n]
all_cols = [n for n in all_cols if 'unnamed' not in n]
all_cols = [n for n in all_cols if 't1' not in n]
all_cols = [n for n in all_cols if 't2' not in n]
all_cols = [n for n in all_cols if 'tm2' not in n]
all_cols = [n for n in all_cols if 'tm1' not in n]
all_cols = [n for n in all_cols if 'team' not in n]
all_cols = [n for n in all_cols if 'date' not in n]
all_cols = [n for n in all_cols if 'season' not in n]
all_cols = [n for n in all_cols if 'matchup' not in n]
all_cols = [n for n in all_cols if 'wins' not in n]
all_cols = [n for n in all_cols if 'game' not in n]
all_cols = [n for n in all_cols if 'w/l' not in n]
all_cols = [n for n in all_cols if 'min' not in n]
all_cols

['trad_pts',
 'trad_fgm',
 'trad_fga',
 'trad_fg%',
 'trad_3pm',
 'trad_3pa',
 'trad_3p%',
 'trad_ftm',
 'trad_fta',
 'trad_ft%',
 'trad_oreb',
 'trad_dreb',
 'trad_reb',
 'trad_ast',
 'trad_tov',
 'trad_stl',
 'trad_blk',
 'trad_pf',
 'trad_+/-',
 'adv_offrtg',
 'adv_defrtg',
 'adv_netrtg',
 'adv_ast%',
 'adv_ast/to',
 'adv_astratio',
 'adv_oreb%',
 'adv_dreb%',
 'adv_reb%',
 'adv_tov%',
 'adv_efg%',
 'adv_ts%',
 'adv_pace',
 'adv_pie',
 'four_efg%',
 'four_ftarate',
 'four_tov%',
 'four_oreb%',
 'four_oppefg%',
 'four_oppfta\xa0rate',
 'four_opptov%',
 'four_opporeb%',
 'misc_ptsoff\xa0to',
 'misc_2ndpts',
 'misc_fbps',
 'misc_pitp',
 'misc_opp\xa0ptsoff\xa0to',
 'misc_opp2nd\xa0pts',
 'misc_oppfbps',
 'misc_opppitp',
 'score_%fga2pt',
 'score_%fga3pt',
 'score_%pts2pt',
 'score_%pts2pt\xa0mr',
 'score_%pts3pt',
 'score_%ptsfbps',
 'score_%ptsft',
 'score_%ptsoff\xa0to',
 'score_%ptspitp',
 'score_2fgm%ast',
 'score_2fgm%uast',
 'score_3fgm%ast',
 'score_3fgm%uast',
 'score_fgm%ast',
 'score_fgm%uast',
 'days_since_dec_1']

In [31]:
def get_avgs_by_game(team, season, game_date, metric):
    data = df[df['trad_team'] == team]
    data1 = data[data['trad_season'] == season]
    # filter by date
    data2 = data1[data1['trad_gamedate'] < game_date]
    # drop na
    data2 = data2.dropna(subset=[metric])
    metric_mean = data2[metric].mean()
    return metric_mean

In [32]:
# First for team 1
features_to_work_with = all_cols

n = 1

for f in features_to_work_with:
    missing_games['t1_running_' + f] = missing_games.apply(lambda row: get_avgs_by_game(row['trad_team'], row['trad_season'], row['trad_gamedate'], f), axis=1)
    print(f'finished {n} of {len(features_to_work_with)}')
    n += 1

finished 1 of 65
finished 2 of 65
finished 3 of 65
finished 4 of 65
finished 5 of 65
finished 6 of 65
finished 7 of 65
finished 8 of 65
finished 9 of 65
finished 10 of 65
finished 11 of 65
finished 12 of 65
finished 13 of 65
finished 14 of 65
finished 15 of 65
finished 16 of 65
finished 17 of 65
finished 18 of 65
finished 19 of 65
finished 20 of 65
finished 21 of 65
finished 22 of 65
finished 23 of 65
finished 24 of 65
finished 25 of 65
finished 26 of 65
finished 27 of 65
finished 28 of 65
finished 29 of 65
finished 30 of 65
finished 31 of 65
finished 32 of 65
finished 33 of 65
finished 34 of 65
finished 35 of 65
finished 36 of 65
finished 37 of 65
finished 38 of 65
finished 39 of 65
finished 40 of 65
finished 41 of 65
finished 42 of 65
finished 43 of 65
finished 44 of 65
finished 45 of 65
finished 46 of 65
finished 47 of 65
finished 48 of 65
finished 49 of 65
finished 50 of 65
finished 51 of 65
finished 52 of 65
finished 53 of 65
finished 54 of 65
finished 55 of 65
finished 56 of 65
finished 57 of 65
finished 58 of 65
finished 59 of 65
finished 60 of 65
finished 61 of 65
finished 62 of 65
finished 63 of 65
finished 64 of 65
finished 65 of 65

In [33]:
# check missing
missing = missing_games.isnull().sum()
missing[missing > 0]

Series([], dtype: int64)

In [34]:
# Then for team 2

for f in features_to_work_with:
    missing_games['t2_running_' + f] = missing_games.apply(lambda row: get_avgs_by_game( row['team_2'], row['trad_season'], row['trad_gamedate'], f), axis=1)


# Add dif between teams

for f in features_to_work_with:
    missing_games['running_t1-t2_' + f] = missing_games['t1_running_' + f] - missing_games['t2_running_' + f]

In [35]:
# Add all teams running averages

def get_league_avgs_by_game(season, game_date, metric):
    data = df[df['trad_season'] == season]
    # filter by date
    data = data[data['trad_gamedate'] < game_date]
    data = data.dropna(subset = [metric])
    metric_mean = data[metric].mean()
    return metric_mean

In [36]:
# check nas
missing = missing_games.isna().sum()
missing[missing > 0]

Series([], dtype: int64)

In [37]:
for f in features_to_work_with:
    missing_games['league_running_'+ f] = missing_games.apply(lambda row: get_league_avgs_by_game(row['trad_season'], row['trad_gamedate'], f), axis=1)

In [38]:
# now add team running - league_running
for f in features_to_work_with:
    missing_games['t1_league_delta_' + f] = missing_games['t1_running_' + f] - missing_games['league_running_'+ f]

# team2 - league
for f in features_to_work_with:
    missing_games['t2_league_delta_' + f] = missing_games['t2_running_' + f] - missing_games['league_running_'+ f]

# team1 - team2
for f in features_to_work_with:
    missing_games['t1_delta_minus_t2_delta_' + f] = missing_games['t1_league_delta_' + f] - missing_games['t2_league_delta_' + f]

In [39]:
missing_games.shape

(16, 686)

#### 2b update

In [57]:


full_boxes = pd.DataFrame()

team_box_files = os.listdir('data/team/team_boxscores/')
team_box_files = [n for n in team_box_files if 'csv' in n]
team_trad_box_files = [n for n in team_box_files if 'trad' in n]
# drop the .csv


for f in team_trad_box_files:
    # open each, add season, season type, and append
    data = pd.read_csv('data/team/team_boxscores/' + f)
    data['trad_season'] = f[-11:-7]
    if 'Regular' in f:
        data['trad_season_type'] = 'Regular'
    else:
        data['trad_season_type'] = 'Playoffs'
    full_boxes = full_boxes.append(data)

full_boxes['GAME DATE'] = pd.to_datetime(full_boxes['GAME DATE'])
# sort by game date
full_boxes = full_boxes.sort_values(by='GAME DATE', ascending=False)
# drop nan when in TEAM
full_boxes = full_boxes.dropna(subset=['TEAM'])
full_boxes['trad_season'] = full_boxes['trad_season'].astype(int)
full_boxes

,Unnamed: 0,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,trad_season,trad_season_type
6,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,48.9,...,23.0,36.0,22.0,19.0,7.0,2.0,22.0,-17.0,2022,Regular
11,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,51.7,...,29.0,33.0,22.0,9.0,5.0,4.0,17.0,-11.0,2022,Regular
4,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,48.4,...,39.0,50.0,24.0,9.0,7.0,5.0,16.0,11.0,2022,Regular
16,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,47.9,...,36.0,45.0,28.0,9.0,4.0,4.0,19.0,20.0,2022,Regular
15,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,47.8,...,33.0,41.0,27.0,13.0,8.0,5.0,25.0,-6.0,2022,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353,2353,MIN,MIN vs. SAS,1996-11-01,W,48.0,82.0,31.0,74.0,41.9,...,27.0,36.0,18.0,18.0,6.0,12.0,13.0,4.0,1996,Regular
2352,2352,DAL,DAL @ DEN,1996-11-01,W,48.0,92.0,35.0,88.0,39.8,...,33.0,53.0,21.0,22.0,13.0,7.0,30.0,1.0,1996,Regular
2351,2351,DET,DET vs. IND,1996-11-01,W,48.0,95.0,32.0,68.0,47.1,...,28.0,39.0,12.0,19.0,10.0,3.0,22.0,6.0,1996,Regular
2359,2359,SEA,SEA @ UTA,1996-11-01,L,48.0,91.0,30.0,75.0,40.0,...,34.0,46.0,16.0,12.0,6.0,6.0,26.0,-8.0,1996,Regular
2360,2360,LAC,LAC @ GSW,1996-11-01,W,48.0,97.0,41.0,86.0,47.7,...,33.0,49.0,21.0,20.0,7.0,2.0,27.0,12.0,1996,Regular

In [60]:

games_df = full_boxes.copy()
games_df = games_df[games_df['trad_season'] >= 2012]
games_df = games_df[games_df['trad_season_type'] == 'Regular']
games_df['win?'] = np.where(games_df['W/L'] == 'W', 1, 0)
#groupby team and trad_season to get win totals per year
df_wins = games_df.groupby(['TEAM','trad_season'])['win?'].sum()

In [61]:
# Fixed 1.12.2020

dfw = pd.DataFrame(df_wins)
dfw

                  win?
TEAM trad_season
ATL  2012           44
     2013           38
     2014           60
     2015           48
     2016           43
...                ...
WAS  2018           32
     2019           25
     2020           34
     2021           35
     2022           18

[330 rows x 1 columns]

In [63]:
def get_previous_trad_season_win_total(team, trad_season):
    return dfw.loc[(team, trad_season-1)]

In [64]:
missing_games['team_wins_previous_season'] = missing_games.apply(lambda row: get_previous_trad_season_win_total(row['trad_team'], row['trad_season']), axis=1)
missing_games['team_win%_previous_season'] = missing_games['team_wins_previous_season'] / 82

In [65]:
missing_games['team_2_wins_previous_season'] = missing_games.apply(lambda row: get_previous_trad_season_win_total(row['team_2'], row['trad_season']), axis=1)

In [66]:


missing_games['team2_win%_previous_season'] = missing_games['team_2_wins_previous_season'] / 82
missing_games['team1_prevwins_minus_team2_prevwins'] = missing_games['team_wins_previous_season'] - missing_games['team_2_wins_previous_season']

In [67]:
# Home or away
missing_games['home_or_away'] = np.where(missing_games['trad_matchup'].str.contains('@'), 'away', 'home')
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_delta_minus_t2_delta_score_3fgm%uast,t1_delta_minus_t2_delta_score_fgm%ast,t1_delta_minus_t2_delta_score_fgm%uast,t1_delta_minus_t2_delta_days_since_dec_1,team_wins_previous_season,team_win%_previous_season,team_2_wins_previous_season,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,-0.090671,-0.044920,0.044920,1.900585,23,0.280488,46,0.560976,-23,home
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,-0.089242,0.043015,-0.042955,0.377841,51,0.621951,43,0.524390,8,away
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.089242,-0.043015,0.042955,-0.377841,43,0.524390,51,0.621951,-8,home
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.117425,-0.046404,0.046376,0.079365,56,0.682927,34,0.414634,22,home
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,-0.032600,-0.081862,0.081862,-3.526232,37,0.451220,25,0.304878,12,home
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,0.036734,0.035306,-0.035306,-1.295752,51,0.621951,36,0.439024,15,home
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,0.023046,0.029060,-0.029089,-0.916221,35,0.426829,46,0.560976,-11,home
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,0.010989,0.022078,-0.022046,-1.428843,48,0.585366,64,0.780488,-16,home
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,0.090671,0.044920,-0.044920,-1.900585,46,0.560976,23,0.280488,23,away
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,-0.036734,-0.035306,0.035306,1.295752,36,0.439024,51,0.621951,-15,away
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,-0.010989,-0.022078,0.022046,1.428843,64,0.780488,48,0.585366,16,away
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,-0.117425,0.046404,-0.046376,-0.079365,34,0.414634,56,0.682927,-22,away
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,-0.023046,-0.029060,0.029089,0.916221,46,0.560976,35,0.426829,11,away
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,0.032600,0.081862,-0.081862,3.526232,25,0.304878,37,0.451220,-12,away
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,-0.112170,0.069103,-0.069103,-1.232035,30,0.365854,20,0.243902,10,home
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,0.112170,-0.069103,0.069103,1.232035,20,0.243902,30,0.365854,-10,away

In [28]:
# NBA Champion by Year
champs = pd.read_csv('data/team/cleaned_finals_results.csv')
champs.head()

,Unnamed: 0,Yr,Series,Winning_team,Losing_team,Favorite,Underdog,Winner_abv,Loser_abv
0,0,2021,Finals,Milwaukee Bucks,Phoenix Suns,PHO,MIL,MIL,NaN
1,1,2020,Finals,Los Angeles Lakers,Miami Heat,LAL,MIA,LAL,MIA
2,2,2019,Finals,Toronto Raptors,Golden State Warriors,GSW,TOR,TOR,GSW
3,3,2018,Finals,Golden State Warriors,Cleveland Cavaliers,GSW,CLE,GSW,CLE
4,4,2017,Finals,Golden State Warriors,Cleveland Cavaliers,GSW,CLE,GSW,CLE

In [29]:
def champ_winner(team, trad_season):
    sz_to_check = trad_season - 1
    df = champs[champs['Yr'] == sz_to_check]
    if team in df['Winner_abv'].values:
        return 1
    else:
        return 0

In [30]:
missing_games['prev_season_champ_winner'] = missing_games.apply(lambda row: champ_winner(row['trad_team'], row['trad_season']), axis=1)
missing_games['team2_prev_season_champ_winner'] = missing_games.apply(lambda row: champ_winner(row['team_2'], row['trad_season']), axis=1)

In [86]:
def scrape_salary_by_year(year):
    year = int(year)
    url = 'https://hoopshype.com/salaries/' + str(year) + '-'+ str(year+1) + '/'
    data = pd.read_html(url)[0]
    # drop any Unnamed columns
    unnamed = [c for c in data.columns if 'Unnamed' in c]
    data = data.drop(columns=unnamed)
    # drop the last column
    data = data.drop(columns=data.columns[-1])
    # drop last 3 characters from last column name
    data = data.rename(columns={data.columns[-1]: data.columns[-1][:-3]})
    # replace any $ or , with '' in second column only
    col = data.columns[1]
    data[col] = data[col].replace({'\$': '', ',': ''}, regex=True)
    # convert to int
    data[col] = data[col].astype(int)

    return data

In [88]:
# sal2000 = scrape_salary_by_year(2000)
# sal2001 = scrape_salary_by_year(2001)
# sal2002 = scrape_salary_by_year(2002)
# sal2003 = scrape_salary_by_year(2003)
# sal2004 = scrape_salary_by_year(2004)
# sal2005 = scrape_salary_by_year(2005)
# sal2006 = scrape_salary_by_year(2006)
# sal2007 = scrape_salary_by_year(2007)
# sal2008 = scrape_salary_by_year(2008)
# sal2009 = scrape_salary_by_year(2009)
# sal2010 = scrape_salary_by_year(2010)
# sal2011 = scrape_salary_by_year(2011)
# sal2012 = scrape_salary_by_year(2012)
# sal2013 = scrape_salary_by_year(2013)
# sal2014 = scrape_salary_by_year(2014)
# sal2015 = scrape_salary_by_year(2015)
# sal2016 = scrape_salary_by_year(2016)
# sal2017 = scrape_salary_by_year(2017)
# sal2018 = scrape_salary_by_year(2018)
# sal2019 = scrape_salary_by_year(2019)
# sal2020 = scrape_salary_by_year(2020)

IndexError: index -1 is out of bounds for axis 0 with size 0

In [94]:
# # merge salary dataframes by column 'Team'
# salaries = pd.merge(sal2000, sal2001, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2002, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2003, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2004, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2005, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2006, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2007, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2008, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2009, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2010, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2011, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2012, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2013, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2014, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2015, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2016, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2017, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2018, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2019, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2020, on='Team', how='outer')
# salaries = pd.merge(salaries, sal2021, on='Team', how='outer')
# salaries

,Team,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Portland,87395140.0,84292850.0,105595657.0,82956768.0,83671309,60017964,75026386,73241335,80260059,...,59442596,61260350,69936842,61685814,119732234,118708146,130256600,131979953,131904647,124788473
1,New York,74007738.0,85993039.0,93452379.0,89444820.0,102567539,126631098,117350866,96190114,96643646,...,79977119,89072787,81369219,74237021,102593418,105403130,123387454,100232129,102137151,120644081
2,Miami,73472329.0,53351186.0,57378326.0,47349374.0,59523529,60732452,64416312,74767603,70297059,...,80427933,80841617,75813041,85764781,100740770,133624374,153171497,129867871,134731235,140840240
3,Brooklyn,68977578.0,75193712.0,60412919.0,63697123.0,54983980,66449350,64486110,61836211,62666523,...,87644649,102589967,87817289,80258302,82391482,95475397,118850600,118889943,170444633,174811922
4,Washington,59085969.0,54776087.0,46691190.0,45682902.0,49797050,54555947,62733705,65278996,70743317,...,59715539,64698822,73372974,85055155,104016580,123306396,123747588,121296256,131294012,128019790
5,LA Lakers,58968213.0,54262017.0,63151182.0,64123085.0,65059098,72917945,77099949,72626796,78245793,...,100131988,77423614,77546500,72694352,94781848,103126557,107225482,123971686,139334713,164409293
6,Milwaukee,57819318.0,56224266.0,57995152.0,53229826.0,57448246,63022514,63498518,62571522,71360656,...,62410041,54400846,54473275,73843541,96245877,120521249,130988604,122612183,136623929,160875421
7,San Antonio,57215938.0,45844814.0,53182559.0,46464064.0,47504123,63570274,65654320,70048523,68020487,...,69838600,63115911,70770209,87832839,112017779,114633844,121588790,119217331,129537825,127655401
8,Indiana,55086140.0,53398621.0,53472323.0,58156236.0,66064780,78791779,63118965,66260246,69668818,...,66107195,67182414,74793526,71605233,90279072,95271736,110724804,112872260,130237102,138181486
9,Phoenix,53906347.0,56596369.0,55225080.0,66931770.0,44598682,53626924,65841120,71323049,76130408,...,54196264,55569468,58018672,68095365,89754590,92684083,108692835,98539675,128858241,136476474
10,Utah,53893860.0,52642362.0,50934629.0,34747674.0,43515760,57372902,62364364,64959089,65841407,...,65657569,56911999,60847538,63608425,80138192,105606838,113826156,118910311,136881324,149760719
11,Dallas,52274842.0,57960080.0,72940316.0,79536723.0,91908443,98454832,88531846,101694879,95045559,...,69766571,75012158,84820225,75397067,102354966,85440245,86958881,120871082,127657823,126696965
12,Denver,52189220.0,54460475.0,49109209.0,39398646.0,46101759,56492172,65517776,82958227,70121003,...,63444254,65782065,56820307,72589023,83836460,107543599,118327016,128746180,129793210,137963926
13,Oklahoma City,51538658.0,45556733.0,53167479.0,52347476.0,53821301,49253379,56986831,60861388,68341605,...,68924100,71653401,80408520,95708387,91230089,134534640,144916427,132017938,95774839,82022873
14,Boston,51478707.0,47515677.0,52548195.0,60185915.0,64577356,56907300,62981479,74509455,79188973,...,75508399,70885503,62218516,77141919,93465326,115284776,125334993,117759332,132931565,136557646
15,Philadelphia,51085458.0,58073366.0,64822487.0,60411079.0,71951878,84807300,69140163,74038229,68301007,...,66697839,51741312,54355571,64583220,84775343,100797386,115127167,129912339,147825311,148922969
16,Cleveland,49780549.0,45649974.0,49610448.0,46186472.0,49175274,51303962,62992729,82217583,91298233,...,54472190,66654061,82592827,108300458,128522489,137722926,123255073,131059022,129605319,136385911
17,Houston,49283309.0,49168169.0,50181239.0,55401430.0,60284303,69257404,63837566,69894114,73302272,...,48048265,57823063,76849302,87504058,90956067,119905532,126474100,128109922,131784255,132267085
18,Memphis,48899840.0,50920631.0,61009172.0,57378323.0,67010830,67525538,61960489,54118526,55958148,...,63054115,71992885,75158730,83223881,110083520,110700149,125188633,98495848,132022601,117284457
19,Minnesota,47488500.0,55093782.0,59518801.0,71272042.0,70123411,61830186,66820673,69043895,66445144,...,64329748,68564040,69378954,72287243,83527580,116075131,121962221,114202982,130334934,137432702
20,Charlotte,46441558.0,49999445.0,NaN,NaN,23922578,33458932,41964046,53745468,62866926,...,58122566,60395651,66792937,76860006,103054004,117382664,121427859,96552033,108218809,122139566
21,Sacramento,46266289.0,54921012.0,70416596.0,68372826.0,61807688,62811975,64296611,63403225,69204512,...,54421935,59174155,73379071,70610560,95596327,99587185,101466920,113796966,106847430,130457848
22,Golden State,42363018.0,47681152.0,47737715.0,53376708.0,54943723,57114566,65012368,62148303,67416431,...,70036985,72503122,73611166,93669566,101584835,137610134,146291276,129254928,171105334,178980766
23,Detroit,40475338.0,42417677.0,47777888.0,53442834.0,54762481,59619275,59010951,65898875,71434174,...,68807497,62387432,67410675,77256014,106492988,119773191,126557932,104527576,117041599,131120355
24,Atlanta,39297129.0,51525207.0,55711549.0,64497340.0,41059616,42944553,48581972,55501133,68168841,...,66710178,58998677,58320278,71661760,96315163,99992696,79180081,110702618,118804016,135166020
25,Toronto,38313749.0,52657161.0,55408207.0,63033243.0,61703775,62411884,51015491,66042375,73446970,...,63708138,71561643,81317963,71591189,108599970,116929373,137793831,122463495,129131910,134896484
26,Orlando,37459860.0,45984001.0,50435346.0,50588419.0,66445249,75784782,61447108,58165973,69672979,...,66557496,56948031,59629210,63199651,104096951,98700258,114394213,126095610,121739163,126786646
27,Chicago,29691907.0,42592857.0,44531095.0,55489797.0,57276129,57166530,54754904,63084166,68126774,...,74491280,73336893,67414682,87073838,92522306,90466801,112598201,112601901,128963580,136083814
28,LA Clippers,29606189.0,33849932.0,42955777.0,39114363.0,45483265,51358645,59181038,64847945,62764206,...,69152721,73049774,85259447,97019321,114756766,119093010,118026816,131506341,139722606,168378382
29,New Orleans,NaN,NaN,44458882.0,49800204.0,56572882,41277617,53748991,62609991,67530808,...,64134537,67358651,80012866,83709371,101616451,120814452,116052756,117868297,133901495,135793968

In [95]:
# salaries.to_csv('data/team/aggregates/Old_Team_Salaries.csv', index=False)

In [121]:
# salaries = pd.read_csv('data/team/aggregates/Old_Team_Salaries.csv')

In [122]:
# team_contracts = pd.read_csv('data/team/aggregates/team_contracts_22-23.csv')[1:]
# team_contracts

,Unnamed: 0_level_0,Unnamed: 1_level_0,Salary,Salary.1,Salary.2,Salary.3,Salary.4,Salary.5
1,1,Los Angeles Clippers,"$202,020,279","$200,870,001","$159,339,652","$20,482,758",NaN,NaN
2,2,Golden State Warriors,"$197,905,803","$215,090,337","$139,847,903","$125,348,403","$65,464,286",NaN
3,3,Brooklyn Nets,"$194,069,185","$139,142,401","$99,547,536","$54,708,609",NaN,NaN
4,4,Milwaukee Bucks,"$187,319,919","$159,879,413","$112,176,005","$79,586,167",NaN,NaN
5,5,Boston Celtics,"$186,645,092","$159,600,916","$120,909,897","$71,995,974",NaN,NaN
6,6,Los Angeles Lakers,"$179,370,186","$98,276,595","$100,859,025",NaN,NaN,NaN
7,7,Dallas Mavericks,"$172,945,433","$143,093,761","$108,638,483","$72,378,140","$48,967,380",NaN
8,8,Phoenix Suns,"$170,942,549","$137,725,638","$147,182,626","$124,988,514","$56,697,900","$60,608,100"
9,9,Denver Nuggets,"$168,351,407","$172,710,585","$172,440,035","$124,450,778","$98,528,150","$61,446,000"
10,10,Philadelphia 76ers,"$163,329,675","$159,485,456","$65,831,363","$53,998,000","$57,722,000",NaN
11,11,Atlanta Hawks,"$156,325,984","$160,126,809","$123,963,072","$101,850,368","$73,878,094",NaN
12,12,Washington Wizards,"$156,249,793","$146,955,881","$76,583,735","$74,798,819","$57,128,610",NaN
13,13,New Orleans Pelicans,"$155,603,335","$169,225,200","$142,322,505","$76,944,375","$41,230,000","$43,890,000"
14,14,Oklahoma City Thunder,"$155,421,056","$100,604,155","$101,135,018","$92,388,970","$65,691,372",NaN
15,15,Minnesota Timberwolves,"$155,048,845","$119,780,750","$97,261,825","$106,204,606","$56,697,900","$60,608,100"
16,16,Portland Trail Blazers,"$154,700,360","$133,474,265","$125,350,313","$121,516,797","$71,246,860","$268,032"
17,17,Miami Heat,"$154,596,007","$177,451,647","$141,644,117","$144,843,431","$33,000,000",NaN
18,18,Chicago Bulls,"$154,066,878","$120,332,074","$77,827,768","$51,398,778","$48,967,380",NaN
19,19,Toronto Raptors,"$153,940,612","$149,161,435","$42,889,250",NaN,NaN,NaN
20,20,Cleveland Cavaliers,"$152,345,830","$124,159,237","$114,591,689","$102,290,076","$41,230,000","$43,890,000"
21,21,Utah Jazz,"$150,749,265","$140,623,343","$47,863,259","$30,237,463",NaN,NaN
22,22,New York Knicks,"$148,865,819","$151,346,088","$118,023,452","$95,082,304","$29,616,071",NaN
23,23,Sacramento Kings,"$141,664,578","$105,200,778","$79,816,114","$66,231,784",NaN,NaN
24,24,Houston Rockets,"$140,217,821","$87,680,681","$74,784,411","$43,506,517","$18,239,000",NaN
25,25,Orlando Magic,"$132,162,468","$114,345,421","$59,725,976","$28,372,468",NaN,NaN
26,26,Charlotte Hornets,"$130,002,124","$86,528,072","$49,885,235","$41,599,562",NaN,NaN
27,27,Memphis Grizzlies,"$129,936,321","$122,270,390","$110,745,953","$92,830,739","$59,895,000","$43,890,000"
28,28,Detroit Pistons,"$128,604,792","$100,610,534","$60,854,406","$16,590,307",NaN,NaN
29,29,Indiana Pacers,"$110,738,373","$73,113,212","$45,668,114","$11,375,024",NaN,NaN
30,30,San Antonio Spurs,"$99,054,781","$62,572,979","$30,412,240","$34,284,592","$17,500,000",NaN

In [123]:
# # turn Salary into int
# team_contracts['Salary'] = team_contracts['Salary'].str.replace('$', '')
# team_contracts['Salary'] = team_contracts['Salary'].str.replace(',', '')
# team_contracts['Salary'] = team_contracts['Salary'].astype(int)
# team_contracts.rename(columns = {'Unnamed: 1_level_0': 'Team'}, inplace=True)
# team_contracts

In [125]:
# team_contracts.sort_values(by=['Team'], inplace=True)
# team_contracts.head(2).reset_index(drop=True)

,Unnamed: 0_level_0,Team,Salary,Salary.1,Salary.2,Salary.3,Salary.4,Salary.5
0,11,Atlanta Hawks,156325984,"$160,126,809","$123,963,072","$101,850,368","$73,878,094",NaN
1,5,Boston Celtics,186645092,"$159,600,916","$120,909,897","$71,995,974",NaN,NaN

In [126]:
# salaries.sort_values(by=['Team'], inplace=True)
# salaries.head(2).reset_index(drop=True)

,Team,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Atlanta,39297129.0,51525207.0,55711549.0,64497340.0,41059616,42944553,48581972,55501133,68168841,...,66710178,58998677,58320278,71661760,96315163,99992696,79180081,110702618,118804016,135166020
1,Boston,51478707.0,47515677.0,52548195.0,60185915.0,64577356,56907300,62981479,74509455,79188973,...,75508399,70885503,62218516,77141919,93465326,115284776,125334993,117759332,132931565,136557646

In [127]:
# # make dict of team converting from team_contracts and salaries
# contract_names = team_contracts['Team'].values
# salary_names = salaries['Team'].values
# team_dict = dict(zip(salary_names, contract_names))
# team_dict

{'Atlanta': 'Atlanta Hawks',
 'Boston': 'Boston Celtics',
 'Brooklyn': 'Brooklyn Nets',
 'Charlotte': 'Charlotte Hornets',
 'Chicago': 'Chicago Bulls',
 'Cleveland': 'Cleveland Cavaliers',
 'Dallas': 'Dallas Mavericks',
 'Denver': 'Denver Nuggets',
 'Detroit': 'Detroit Pistons',
 'Golden State': 'Golden State Warriors',
 'Houston': 'Houston Rockets',
 'Indiana': 'Indiana Pacers',
 'LA Clippers': 'Los Angeles Clippers',
 'LA Lakers': 'Los Angeles Lakers',
 'Memphis': 'Memphis Grizzlies',
 'Miami': 'Miami Heat',
 'Milwaukee': 'Milwaukee Bucks',
 'Minnesota': 'Minnesota Timberwolves',
 'New Orleans': 'New Orleans Pelicans',
 'New York': 'New York Knicks',
 'Oklahoma City': 'Oklahoma City Thunder',
 'Orlando': 'Orlando Magic',
 'Philadelphia': 'Philadelphia 76ers',
 'Phoenix': 'Phoenix Suns',
 'Portland': 'Portland Trail Blazers',
 'Sacramento': 'Sacramento Kings',
 'San Antonio': 'San Antonio Spurs',
 'Toronto': 'Toronto Raptors',
 'Utah': 'Utah Jazz',
 'Washington': 'Washington Wizards'}

In [128]:
# salaries['Whole_Team_Name'] = salaries['Team'].map(team_dict)
# salaries

,Team,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Whole_Team_Name
24,Atlanta,39297129.0,51525207.0,55711549.0,64497340.0,41059616,42944553,48581972,55501133,68168841,...,58998677,58320278,71661760,96315163,99992696,79180081,110702618,118804016,135166020,Atlanta Hawks
14,Boston,51478707.0,47515677.0,52548195.0,60185915.0,64577356,56907300,62981479,74509455,79188973,...,70885503,62218516,77141919,93465326,115284776,125334993,117759332,132931565,136557646,Boston Celtics
3,Brooklyn,68977578.0,75193712.0,60412919.0,63697123.0,54983980,66449350,64486110,61836211,62666523,...,102589967,87817289,80258302,82391482,95475397,118850600,118889943,170444633,174811922,Brooklyn Nets
20,Charlotte,46441558.0,49999445.0,NaN,NaN,23922578,33458932,41964046,53745468,62866926,...,60395651,66792937,76860006,103054004,117382664,121427859,96552033,108218809,122139566,Charlotte Hornets
27,Chicago,29691907.0,42592857.0,44531095.0,55489797.0,57276129,57166530,54754904,63084166,68126774,...,73336893,67414682,87073838,92522306,90466801,112598201,112601901,128963580,136083814,Chicago Bulls
16,Cleveland,49780549.0,45649974.0,49610448.0,46186472.0,49175274,51303962,62992729,82217583,91298233,...,66654061,82592827,108300458,128522489,137722926,123255073,131059022,129605319,136385911,Cleveland Cavaliers
11,Dallas,52274842.0,57960080.0,72940316.0,79536723.0,91908443,98454832,88531846,101694879,95045559,...,75012158,84820225,75397067,102354966,85440245,86958881,120871082,127657823,126696965,Dallas Mavericks
12,Denver,52189220.0,54460475.0,49109209.0,39398646.0,46101759,56492172,65517776,82958227,70121003,...,65782065,56820307,72589023,83836460,107543599,118327016,128746180,129793210,137963926,Denver Nuggets
23,Detroit,40475338.0,42417677.0,47777888.0,53442834.0,54762481,59619275,59010951,65898875,71434174,...,62387432,67410675,77256014,106492988,119773191,126557932,104527576,117041599,131120355,Detroit Pistons
22,Golden State,42363018.0,47681152.0,47737715.0,53376708.0,54943723,57114566,65012368,62148303,67416431,...,72503122,73611166,93669566,101584835,137610134,146291276,129254928,171105334,178980766,Golden State Warriors
17,Houston,49283309.0,49168169.0,50181239.0,55401430.0,60284303,69257404,63837566,69894114,73302272,...,57823063,76849302,87504058,90956067,119905532,126474100,128109922,131784255,132267085,Houston Rockets
8,Indiana,55086140.0,53398621.0,53472323.0,58156236.0,66064780,78791779,63118965,66260246,69668818,...,67182414,74793526,71605233,90279072,95271736,110724804,112872260,130237102,138181486,Indiana Pacers
28,LA Clippers,29606189.0,33849932.0,42955777.0,39114363.0,45483265,51358645,59181038,64847945,62764206,...,73049774,85259447,97019321,114756766,119093010,118026816,131506341,139722606,168378382,Los Angeles Clippers
5,LA Lakers,58968213.0,54262017.0,63151182.0,64123085.0,65059098,72917945,77099949,72626796,78245793,...,77423614,77546500,72694352,94781848,103126557,107225482,123971686,139334713,164409293,Los Angeles Lakers
18,Memphis,48899840.0,50920631.0,61009172.0,57378323.0,67010830,67525538,61960489,54118526,55958148,...,71992885,75158730,83223881,110083520,110700149,125188633,98495848,132022601,117284457,Memphis Grizzlies
2,Miami,73472329.0,53351186.0,57378326.0,47349374.0,59523529,60732452,64416312,74767603,70297059,...,80841617,75813041,85764781,100740770,133624374,153171497,129867871,134731235,140840240,Miami Heat
6,Milwaukee,57819318.0,56224266.0,57995152.0,53229826.0,57448246,63022514,63498518,62571522,71360656,...,54400846,54473275,73843541,96245877,120521249,130988604,122612183,136623929,160875421,Milwaukee Bucks
19,Minnesota,47488500.0,55093782.0,59518801.0,71272042.0,70123411,61830186,66820673,69043895,66445144,...,68564040,69378954,72287243,83527580,116075131,121962221,114202982,130334934,137432702,Minnesota Timberwolves
29,New Orleans,NaN,NaN,44458882.0,49800204.0,56572882,41277617,53748991,62609991,67530808,...,67358651,80012866,83709371,101616451,120814452,116052756,117868297,133901495,135793968,New Orleans Pelicans
1,New York,74007738.0,85993039.0,93452379.0,89444820.0,102567539,126631098,117350866,96190114,96643646,...,89072787,81369219,74237021,102593418,105403130,123387454,100232129,102137151,120644081,New York Knicks
13,Oklahoma City,51538658.0,45556733.0,53167479.0,52347476.0,53821301,49253379,56986831,60861388,68341605,...,71653401,80408520,95708387,91230089,134534640,144916427,132017938,95774839,82022873,Oklahoma City Thunder
26,Orlando,37459860.0,45984001.0,50435346.0,50588419.0,66445249,75784782,61447108,58165973,69672979,...,56948031,59629210,63199651,104096951,98700258,114394213,126095610,121739163,126786646,Orlando Magic
15,Philadelphia,51085458.0,58073366.0,64822487.0,60411079.0,71951878,84807300,69140163,74038229,68301007,...,51741312,54355571,64583220,84775343,100797386,115127167,129912339,147825311,148922969,Philadelphia 76ers
9,Phoenix,53906347.0,56596369.0,55225080.0,66931770.0,44598682,53626924,65841120,71323049,76130408,...,55569468,58018672,68095365,89754590,92684083,108692835,98539675,128858241,136476474,Phoenix Suns
0,Portland,87395140.0,84292850.0,105595657.0,82956768.0,83671309,60017964,75026386,73241335,80260059,...,61260350,69936842,61685814,119732234,118708146,130256600,131979953,131904647,124788473,Portland Trail Blazers
21,Sacramento,46266289.0,54921012.0,70416596.0,68372826.0,61807688,62811975,64296611,63403225,69204512,...,59174155,73379071,70610560,95596327,99587185,101466920,113796966,106847430,130457848,Sacramento Kings
7,San Antonio,57215938.0,45844814.0,53182559.0,46464064.0,47504123,63570274,65654320,70048523,68020487,...,63115911,70770209,87832839,112017779,114633844,121588790,119217331,129537825,127655401,San Antonio Spurs
25,Toronto,38313749.0,52657161.0,55408207.0,63033243.0,61703775,62411884,51015491,66042375,73446970,...,71561643,81317963,71591189,108599970,116929373,137793831,122463495,129131910,134896484,Toronto Raptors
10,Utah,53893860.0,52642362.0,50934629.0,34747674.0,43515760,57372902,62364364,64959089,65841407,...,56911999,60847538,63608425,80138192,105606838,113826156,118910311,136881324,149760719,Utah Jazz
4,Washington,59085969.0,54776087.0,46691190.0,45682902.0,49797050,54555947,62733705,65278996,70743317,...,64698822,73372974,85055155,104016580,123306396,123747588,121296256,131294012,128019790,Washington Wizards

In [129]:
# # add 2022 salary column
# salaries_2022= team_contracts[['Team','Salary']]
# salaries_2022.head()

                 Team     Salary
11      Atlanta Hawks  156325984
5      Boston Celtics  186645092
3       Brooklyn Nets  194069185
26  Charlotte Hornets  130002124
18      Chicago Bulls  154066878

In [130]:
# # add salary column to salaries
# salaries = pd.merge(salaries, salaries_2022, left_on='Whole_Team_Name', right_on= 'Team', how='outer')
# salaries

,Team_x,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,Whole_Team_Name,Team_y,Salary
0,Atlanta,39297129.0,51525207.0,55711549.0,64497340.0,41059616,42944553,48581972,55501133,68168841,...,71661760,96315163,99992696,79180081,110702618,118804016,135166020,Atlanta Hawks,Atlanta Hawks,156325984
1,Boston,51478707.0,47515677.0,52548195.0,60185915.0,64577356,56907300,62981479,74509455,79188973,...,77141919,93465326,115284776,125334993,117759332,132931565,136557646,Boston Celtics,Boston Celtics,186645092
2,Brooklyn,68977578.0,75193712.0,60412919.0,63697123.0,54983980,66449350,64486110,61836211,62666523,...,80258302,82391482,95475397,118850600,118889943,170444633,174811922,Brooklyn Nets,Brooklyn Nets,194069185
3,Charlotte,46441558.0,49999445.0,NaN,NaN,23922578,33458932,41964046,53745468,62866926,...,76860006,103054004,117382664,121427859,96552033,108218809,122139566,Charlotte Hornets,Charlotte Hornets,130002124
4,Chicago,29691907.0,42592857.0,44531095.0,55489797.0,57276129,57166530,54754904,63084166,68126774,...,87073838,92522306,90466801,112598201,112601901,128963580,136083814,Chicago Bulls,Chicago Bulls,154066878
5,Cleveland,49780549.0,45649974.0,49610448.0,46186472.0,49175274,51303962,62992729,82217583,91298233,...,108300458,128522489,137722926,123255073,131059022,129605319,136385911,Cleveland Cavaliers,Cleveland Cavaliers,152345830
6,Dallas,52274842.0,57960080.0,72940316.0,79536723.0,91908443,98454832,88531846,101694879,95045559,...,75397067,102354966,85440245,86958881,120871082,127657823,126696965,Dallas Mavericks,Dallas Mavericks,172945433
7,Denver,52189220.0,54460475.0,49109209.0,39398646.0,46101759,56492172,65517776,82958227,70121003,...,72589023,83836460,107543599,118327016,128746180,129793210,137963926,Denver Nuggets,Denver Nuggets,168351407
8,Detroit,40475338.0,42417677.0,47777888.0,53442834.0,54762481,59619275,59010951,65898875,71434174,...,77256014,106492988,119773191,126557932,104527576,117041599,131120355,Detroit Pistons,Detroit Pistons,128604792
9,Golden State,42363018.0,47681152.0,47737715.0,53376708.0,54943723,57114566,65012368,62148303,67416431,...,93669566,101584835,137610134,146291276,129254928,171105334,178980766,Golden State Warriors,Golden State Warriors,197905803
10,Houston,49283309.0,49168169.0,50181239.0,55401430.0,60284303,69257404,63837566,69894114,73302272,...,87504058,90956067,119905532,126474100,128109922,131784255,132267085,Houston Rockets,Houston Rockets,140217821
11,Indiana,55086140.0,53398621.0,53472323.0,58156236.0,66064780,78791779,63118965,66260246,69668818,...,71605233,90279072,95271736,110724804,112872260,130237102,138181486,Indiana Pacers,Indiana Pacers,110738373
12,LA Clippers,29606189.0,33849932.0,42955777.0,39114363.0,45483265,51358645,59181038,64847945,62764206,...,97019321,114756766,119093010,118026816,131506341,139722606,168378382,Los Angeles Clippers,Los Angeles Clippers,202020279
13,LA Lakers,58968213.0,54262017.0,63151182.0,64123085.0,65059098,72917945,77099949,72626796,78245793,...,72694352,94781848,103126557,107225482,123971686,139334713,164409293,Los Angeles Lakers,Los Angeles Lakers,179370186
14,Memphis,48899840.0,50920631.0,61009172.0,57378323.0,67010830,67525538,61960489,54118526,55958148,...,83223881,110083520,110700149,125188633,98495848,132022601,117284457,Memphis Grizzlies,Memphis Grizzlies,129936321
15,Miami,73472329.0,53351186.0,57378326.0,47349374.0,59523529,60732452,64416312,74767603,70297059,...,85764781,100740770,133624374,153171497,129867871,134731235,140840240,Miami Heat,Miami Heat,154596007
16,Milwaukee,57819318.0,56224266.0,57995152.0,53229826.0,57448246,63022514,63498518,62571522,71360656,...,73843541,96245877,120521249,130988604,122612183,136623929,160875421,Milwaukee Bucks,Milwaukee Bucks,187319919
17,Minnesota,47488500.0,55093782.0,59518801.0,71272042.0,70123411,61830186,66820673,69043895,66445144,...,72287243,83527580,116075131,121962221,114202982,130334934,137432702,Minnesota Timberwolves,Minnesota Timberwolves,155048845
18,New Orleans,NaN,NaN,44458882.0,49800204.0,56572882,41277617,53748991,62609991,67530808,...,83709371,101616451,120814452,116052756,117868297,133901495,135793968,New Orleans Pelicans,New Orleans Pelicans,155603335
19,New York,74007738.0,85993039.0,93452379.0,89444820.0,102567539,126631098,117350866,96190114,96643646,...,74237021,102593418,105403130,123387454,100232129,102137151,120644081,New York Knicks,New York Knicks,148865819
20,Oklahoma City,51538658.0,45556733.0,53167479.0,52347476.0,53821301,49253379,56986831,60861388,68341605,...,95708387,91230089,134534640,144916427,132017938,95774839,82022873,Oklahoma City Thunder,Oklahoma City Thunder,155421056
21,Orlando,37459860.0,45984001.0,50435346.0,50588419.0,66445249,75784782,61447108,58165973,69672979,...,63199651,104096951,98700258,114394213,126095610,121739163,126786646,Orlando Magic,Orlando Magic,132162468
22,Philadelphia,51085458.0,58073366.0,64822487.0,60411079.0,71951878,84807300,69140163,74038229,68301007,...,64583220,84775343,100797386,115127167,129912339,147825311,148922969,Philadelphia 76ers,Philadelphia 76ers,163329675
23,Phoenix,53906347.0,56596369.0,55225080.0,66931770.0,44598682,53626924,65841120,71323049,76130408,...,68095365,89754590,92684083,108692835,98539675,128858241,136476474,Phoenix Suns,Phoenix Suns,170942549
24,Portland,87395140.0,84292850.0,105595657.0,82956768.0,83671309,60017964,75026386,73241335,80260059,...,61685814,119732234,118708146,130256600,131979953,131904647,124788473,Portland Trail Blazers,Portland Trail Blazers,154700360
25,Sacramento,46266289.0,54921012.0,70416596.0,68372826.0,61807688,62811975,64296611,63403225,69204512,...,70610560,95596327,99587185,101466920,113796966,106847430,130457848,Sacramento Kings,Sacramento Kings,141664578
26,San Antonio,57215938.0,45844814.0,53182559.0,46464064.0,47504123,63570274,65654320,70048523,68020487,...,87832839,112017779,114633844,121588790,119217331,129537825,127655401,San Antonio Spurs,San Antonio Spurs,99054781
27,Toronto,38313749.0,52657161.0,55408207.0,63033243.0,61703775,62411884,51015491,66042375,73446970,...,71591189,108599970,116929373,137793831,122463495,129131910,134896484,Toronto Raptors,Toronto Raptors,153940612
28,Utah,53893860.0,52642362.0,50934629.0,34747674.0,43515760,57372902,62364364,64959089,65841407,...,63608425,80138192,105606838,113826156,118910311,136881324,149760719,Utah Jazz,Utah Jazz,150749265
29,Washington,59085969.0,54776087.0,46691190.0,45682902.0,49797050,54555947,62733705,65278996,70743317,...,85055155,104016580,123306396,123747588,121296256,131294012,128019790,Washington Wizards,Washington Wizards,156249793

In [133]:
# salaries.rename(columns = {'Salary': '2022'}, inplace=True)
# salaries.head()

,Team_x,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,Whole_Team_Name,Team_y,2022
0,Atlanta,39297129.0,51525207.0,55711549.0,64497340.0,41059616,42944553,48581972,55501133,68168841,...,71661760,96315163,99992696,79180081,110702618,118804016,135166020,Atlanta Hawks,Atlanta Hawks,156325984
1,Boston,51478707.0,47515677.0,52548195.0,60185915.0,64577356,56907300,62981479,74509455,79188973,...,77141919,93465326,115284776,125334993,117759332,132931565,136557646,Boston Celtics,Boston Celtics,186645092
2,Brooklyn,68977578.0,75193712.0,60412919.0,63697123.0,54983980,66449350,64486110,61836211,62666523,...,80258302,82391482,95475397,118850600,118889943,170444633,174811922,Brooklyn Nets,Brooklyn Nets,194069185
3,Charlotte,46441558.0,49999445.0,NaN,NaN,23922578,33458932,41964046,53745468,62866926,...,76860006,103054004,117382664,121427859,96552033,108218809,122139566,Charlotte Hornets,Charlotte Hornets,130002124
4,Chicago,29691907.0,42592857.0,44531095.0,55489797.0,57276129,57166530,54754904,63084166,68126774,...,87073838,92522306,90466801,112598201,112601901,128963580,136083814,Chicago Bulls,Chicago Bulls,154066878

In [135]:
# all_cols = salaries.columns
# text_cols = ['Team_x', 'Team_y', 'Whole_Team_Name']
# num_cols = [col for col in all_cols if col not in text_cols]

In [137]:
# # convert all num_cols to int
# for col in num_cols:
#     salaries[col] = salaries[col].fillna(0)
#     salaries[col] = salaries[col].astype(int)

In [146]:
# for col in num_cols:
#     if int(col) > 2000:
#         salaries[col+'_change'] = (salaries[col] / (salaries[str(int(col) - 1)]) -1)*100
#         salaries[col+'_change'] = salaries[col+'_change'].fillna(0)
#         salaries[col+'_change'] = salaries[col+'_change'].astype(float)
#     else:
#         salaries[col+'_change'] = 0

# salaries.head()

,Team_x,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013_change,2014_change,2015_change,2016_change,2017_change,2018_change,2019_change,2020_change,2021_change,2022_change
0,Atlanta,39297129,51525207,55711549,64497340,41059616,42944553,48581972,55501133,68168841,...,-11.559707,-1.149855,22.876232,34.402453,3.818228,-20.814135,39.811196,7.318163,13.772265,15.654795
1,Boston,51478707,47515677,52548195,60185915,64577356,56907300,62981479,74509455,79188973,...,-6.122360,-12.226741,23.985469,21.160229,23.344968,8.717731,-6.044330,12.884102,2.727780,36.678610
2,Brooklyn,68977578,75193712,60412919,63697123,54983980,66449350,64486110,61836211,62666523,...,17.052174,-14.399730,-8.607630,2.657893,15.880179,24.482960,0.033103,43.363373,2.562292,11.015990
3,Charlotte,46441558,49999445,0,0,23922578,33458932,41964046,53745468,62866926,...,3.910848,10.592296,15.072056,34.080140,13.904030,3.446160,-20.486095,12.083408,12.863528,6.437355
4,Chicago,29691907,42592857,44531095,55489797,57276129,57166530,54754904,63084166,68126774,...,-1.549694,-8.075350,29.161535,6.257296,-2.221632,24.463560,0.003286,14.530553,5.521120,13.214697

In [147]:
#salaries.to_csv('data/team/aggregates/Team_Salaries_Through_2022.csv', index=False)

In [265]:
# add team to abv dict
state_to_abv = {'Atlanta' : 'ATL',
                'Boston' : 'BOS',
                'Brooklyn' : 'BKN',
                'Charlotte' : 'CHA',
                'Chicago' : 'CHI',
                'Cleveland' : 'CLE',
                'Denver' : 'DEN',
                'Detroit' : 'DET',
                'Golden State' : 'GSW',
                'Houston' : 'HOU',
                'Indiana' : 'IND',
                'LA Clippers' : 'LAC',
                'LA Lakers' : 'LAL',
                'Memphis' : 'MEM',
                'Miami' : 'MIA', 
                'Milwaukee' : 'MIL',
                'Minnesota' : 'MIN',
                'New Orleans' : 'NOP',
                'New York' : 'NYK',
                'Oklahoma City' : 'OKC',
                'Orlando' :'ORL',
                'Philadelphia' : 'PHI',
                'Phoenix' : 'PHX',
                'Portland' : 'POR',
                'Sacramento' : 'SAC',
                'San Antonio' : 'SAS',
                'Toronto' : 'TOR',
                'Utah' : 'UTA',
                'Washington' : 'WAS'}

In [266]:
# salaries['team_abv'] = salaries['Team_x'].map(state_to_abv)

In [269]:
salaries.to_csv('data/team/aggregates/Team_Salaries_Through_2022.csv', index=False)

In [271]:
salaries = pd.read_csv('data/team/aggregates/Team_Salaries_Through_2022.csv')
salaries.head()

,Team_x,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014_change,2015_change,2016_change,2017_change,2018_change,2019_change,2020_change,2021_change,2022_change,team_abv
0,Atlanta,39297129,51525207,55711549,64497340,41059616,42944553,48581972,55501133,68168841,...,-1.149855,22.876232,34.402453,3.818228,-20.814135,39.811196,7.318163,13.772265,15.654795,ATL
1,Boston,51478707,47515677,52548195,60185915,64577356,56907300,62981479,74509455,79188973,...,-12.226741,23.985469,21.160229,23.344968,8.717731,-6.044330,12.884102,2.727780,36.678610,BOS
2,Brooklyn,68977578,75193712,60412919,63697123,54983980,66449350,64486110,61836211,62666523,...,-14.399730,-8.607630,2.657893,15.880179,24.482960,0.033103,43.363373,2.562292,11.015990,BKN
3,Charlotte,46441558,49999445,0,0,23922578,33458932,41964046,53745468,62866926,...,10.592296,15.072056,34.080140,13.904030,3.446160,-20.486095,12.083408,12.863528,6.437355,CHA
4,Chicago,29691907,42592857,44531095,55489797,57276129,57166530,54754904,63084166,68126774,...,-8.075350,29.161535,6.257296,-2.221632,24.463560,0.003286,14.530553,5.521120,13.214697,CHI

In [155]:
def find_team_salary(team, year, change=False):
    if change:
        return salaries[salaries['team_abv'] == team][str(year)+'_change'].values[0]
    else:
        return salaries[salaries['team_abv'] == team][str(year)].values[0]

In [156]:
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,t1_delta_minus_t2_delta_score_3fgm%uast,t1_delta_minus_t2_delta_score_fgm%ast,t1_delta_minus_t2_delta_score_fgm%uast,t1_delta_minus_t2_delta_days_since_dec_1,team_wins_previous_season,team_win%_previous_season,team_2_wins_previous_season,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,-0.090671,-0.044920,0.044920,1.900585,23,0.280488,46,0.560976,-23,home
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,-0.089242,0.043015,-0.042955,0.377841,51,0.621951,43,0.524390,8,away
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.089242,-0.043015,0.042955,-0.377841,43,0.524390,51,0.621951,-8,home
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.117425,-0.046404,0.046376,0.079365,56,0.682927,34,0.414634,22,home
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,-0.032600,-0.081862,0.081862,-3.526232,37,0.451220,25,0.304878,12,home
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,0.036734,0.035306,-0.035306,-1.295752,51,0.621951,36,0.439024,15,home
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,0.023046,0.029060,-0.029089,-0.916221,35,0.426829,46,0.560976,-11,home
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,0.010989,0.022078,-0.022046,-1.428843,48,0.585366,64,0.780488,-16,home
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,0.090671,0.044920,-0.044920,-1.900585,46,0.560976,23,0.280488,23,away
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,-0.036734,-0.035306,0.035306,1.295752,36,0.439024,51,0.621951,-15,away
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,-0.010989,-0.022078,0.022046,1.428843,64,0.780488,48,0.585366,16,away
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,-0.117425,0.046404,-0.046376,-0.079365,34,0.414634,56,0.682927,-22,away
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,-0.023046,-0.029060,0.029089,0.916221,46,0.560976,35,0.426829,11,away
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,0.032600,0.081862,-0.081862,3.526232,25,0.304878,37,0.451220,-12,away
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,-0.112170,0.069103,-0.069103,-1.232035,30,0.365854,20,0.243902,10,home
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,0.112170,-0.069103,0.069103,1.232035,20,0.243902,30,0.365854,-10,away

In [159]:
missing_games['team_yoy_salary_change'] = missing_games.apply(lambda row: find_team_salary(row['trad_team'], row['trad_season'],change= True), axis=1)
missing_games['team_yoy_salary'] = missing_games.apply(lambda row: find_team_salary(row['trad_team'], row['trad_season'], change = False), axis=1)
missing_games['team_2_yoy_salary_change'] = missing_games.apply(lambda row: find_team_salary(row['team_2'], row['trad_season'],change= True), axis=1)
missing_games['team_2_yoy_salary'] = missing_games.apply(lambda row: find_team_salary(row['team_2'], row['trad_season'], change = False), axis=1)

In [171]:
games_df[games_df['TEAM'] == 'ATL']

,Unnamed: 0,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,...,REB,AST,TOV,STL,BLK,PF,+/-,trad_season,trad_season_type,win?
1,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,44.8,...,41.0,25.0,11.0,5.0,3.0,12.0,-9.0,2022,Regular,0
50,50,ATL,ATL @ LAC,2023-01-08,W,48.0,112.0,44.0,89.0,49.4,...,43.0,22.0,9.0,7.0,9.0,18.0,4.0,2022,Regular,1
89,89,ATL,ATL @ LAL,2023-01-06,L,48.0,114.0,44.0,96.0,45.8,...,39.0,24.0,12.0,8.0,5.0,15.0,-16.0,2022,Regular,0
102,102,ATL,ATL @ SAC,2023-01-04,W,48.0,120.0,45.0,84.0,53.6,...,44.0,21.0,16.0,9.0,4.0,21.0,3.0,2022,Regular,1
145,145,ATL,ATL @ GSW,2023-01-02,L,58.0,141.0,53.0,109.0,48.6,...,53.0,30.0,13.0,9.0,10.0,17.0,-2.0,2022,Regular,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,2275,ATL,ATL @ LAC,2012-11-11,L,48.0,76.0,30.0,72.0,41.7,...,41.0,20.0,22.0,3.0,9.0,12.0,-13.0,2012,Regular,0
2312,2312,ATL,ATL vs. MIA,2012-11-09,L,48.0,89.0,34.0,81.0,42.0,...,36.0,20.0,13.0,4.0,5.0,16.0,-6.0,2012,Regular,0
2354,2354,ATL,ATL vs. IND,2012-11-07,W,48.0,89.0,38.0,87.0,43.7,...,51.0,24.0,17.0,8.0,3.0,15.0,3.0,2012,Regular,1
2382,2382,ATL,ATL @ OKC,2012-11-04,W,48.0,104.0,41.0,83.0,49.4,...,38.0,20.0,11.0,12.0,1.0,20.0,9.0,2012,Regular,1
2422,2422,ATL,ATL vs. HOU,2012-11-02,L,48.0,102.0,40.0,85.0,47.1,...,36.0,23.0,13.0,12.0,4.0,26.0,-7.0,2012,Regular,0

In [188]:
# REST
def get_rest_days(team, trad_season, gamedate):

    # rest days are days between game dates
    gd = pd.to_datetime(gamedate)
    data = games_df[(games_df['TEAM'] == team) & (games_df['trad_season'] == trad_season)]
    data = data[data['GAME DATE'] < gd]
    most_recent_game = data['GAME DATE'].values[0]
    most_recent_game = pd.to_datetime(most_recent_game)
    gamedate_obj = pd.to_datetime(gamedate)

    rest_days = (gamedate_obj - most_recent_game).days
    # get value for trad_season
    return rest_days

In [189]:
# test
get_rest_days('ATL', 2022, '2023-01-09')

1

In [190]:
missing_games['rest_days'] = missing_games.apply(lambda row: get_rest_days(row['trad_team'], row['trad_season'], row['trad_gamedate']), axis=1)
missing_games['team2_rest_days'] = missing_games.apply(lambda row: get_rest_days(row['team_2'], row['trad_season'], row['trad_gamedate']), axis=1)

In [192]:
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,team_2_wins_previous_season,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away,team_yoy_salary_change,team_yoy_salary,team_2_yoy_salary_change,team_2_yoy_salary,rest_days,team2_rest_days
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,46,0.560976,-23,home,-1.918514,128604792,12.818014,155048845,1,3
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,43,0.524390,8,away,16.437873,187319919,15.654795,156325984,2,3
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,51,0.621951,-8,home,15.654795,156325984,16.437873,187319919,3,2
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,34,0.414634,22,home,10.787332,129936321,-22.404551,99054781,2,2
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,25,0.304878,12,home,23.392559,148865819,-19.860195,110738373,2,3
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,36,0.439024,15,home,36.678610,186645092,14.587811,155603335,2,2
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,46,0.560976,-11,home,22.051281,156249793,13.214697,154066878,2,2
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,64,0.780488,-16,home,22.025671,168351407,25.254224,170942549,2,1
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,23,0.280488,23,away,12.818014,155048845,-1.918514,128604792,3,1
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,51,0.621951,-15,away,14.587811,155603335,36.678610,186645092,2,2
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,48,0.585366,16,away,25.254224,170942549,22.025671,168351407,1,2
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,56,0.682927,-22,away,-22.404551,99054781,10.787332,129936321,2,2
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,35,0.426829,11,away,13.214697,154066878,22.051281,156249793,2,2
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,37,0.451220,-12,away,-19.860195,110738373,23.392559,148865819,3,2
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,20,0.243902,10,home,8.590307,141664578,6.011122,140217821,2,3
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,30,0.365854,-10,away,6.011122,140217821,8.590307,141664578,3,2

In [193]:
# Injuries by Game
player_trad_boxscores = pd.read_csv('data/player/aggregates/Trad&Adv_box_scores_GameView.csv')

In [194]:
# Part 1
cols = []
data = player_trad_boxscores
data['team_player'] = data['trad_team'] + '_' + data['trad_player']
home_games = data.loc[data['trad_match up'].astype(str).str.contains('vs')]
away_games = data.loc[data['trad_match up'].astype(str).str.contains('@')]

# Fix so all games have the same format
home_games['trad_match up'] = home_games['trad_match up'].astype(str).str[-3:] + ' @ ' + home_games['trad_match up'].astype(str).str[0:3]
print(f' The shape of the DF: {home_games.shape}')

data2 = pd.concat([home_games, away_games])


# Add matchup_gamedate to data
data2['Matchup_GameDate'] = data2['trad_match up'].astype(str) + '_' + data2['trad_game date'].astype(str).str.replace('/', '_')

# Part 2
# Get unique player names
player_team_namez = data2['team_player'].unique()   

# Add players as columns     
for player_team in player_team_namez:                       
    data2[str(player_team) + '_played'] = np.where( data2['team_player'] == str(player_team), 1, 0)
    data2[str(player_team) + '_min'] = np.where( data2['team_player'] == str(player_team), data2['trad_min'], 0)
    cols2 = str(player_team) + '_min'
    cols.append(cols2)

grouped = data2.groupby('Matchup_GameDate')[cols].sum()
grouped.to_csv('data/player/aggregates/players_minutes_played_GBG.csv')

grouped = grouped.reset_index()
grouped = grouped.loc[:,~grouped.columns.duplicated()].copy()

 The shape of the DF: (132367, 54)

In [195]:
# define a function to grab it 
# do it by output that trad_season by that player?
minutes_df = pd.read_csv('data/player/aggregates/players_minutes_played_GBG.csv')
minutes_df.head(3)

,Matchup_GameDate,POR_Damian Lillard_min,POR_Nicolas Batum_min,UTA_Al Jefferson_min,UTA_Paul Millsap_min,UTA_Marvin Williams_min,UTA_Randy Foye_min,UTA_Derrick Favors_min,UTA_Enes Freedom_min,UTA_Gordon Hayward_min,...,NOP_Dereon Seabron_min,HOU_Trevor Hudgins_min,DET_Buddy Boeheim_min,PHI_Saben Lee_min,POR_John Butler Jr._min,MIN_A.J. Lawson_min,BKN_Alondes Williams_min,IND_Trevelin Queen_min,PHX_Saben Lee_min,DET_Jared Rhoden_min
0,ATL @ BKN_01_01_2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ATL @ BKN_01_06_2014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ATL @ BKN_01_09_2019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [196]:
missing_games.head(3)

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,team_2_wins_previous_season,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away,team_yoy_salary_change,team_yoy_salary,team_2_yoy_salary_change,team_2_yoy_salary,rest_days,team2_rest_days
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,46,0.560976,-23,home,-1.918514,128604792,12.818014,155048845,1,3
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,43,0.524390,8,away,16.437873,187319919,15.654795,156325984,2,3
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,51,0.621951,-8,home,15.654795,156325984,16.437873,187319919,3,2

In [197]:
def get_matchup_gamedate(matchup, gamedate):

    # change gamedate to date
    gamedate = pd.to_datetime(gamedate)
    # change to MM_DD_YYYY
    gamedate = gamedate.strftime('%m_%d_%Y')

    gamedate = str(gamedate)

    if 'vs.' in matchup:
        matchup1 = matchup.replace('vs.', ' @ ')
        matchup2 = matchup1.replace('-', '_')
        gamedatey = gamedate.replace('-', '_')
        tm1 = matchup2.split(' @ ')[0]
        tm2 = matchup2.split(' @ ')[1]
        tm2 = tm2.replace(' ', '')
        tm1 = tm1.replace(' ', '')
        new_matchup = tm2 + ' @ ' + tm1 +'_' + gamedatey

    else:
        gamedate1 = gamedate.replace('-', '_')
        new_matchup = matchup + '_' + gamedate1
        
    return new_matchup

In [198]:
missing_games['Matchup_GameDate'] = missing_games.apply(lambda row: get_matchup_gamedate(row['trad_matchup'], row['trad_gamedate']), axis=1)

In [199]:
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away,team_yoy_salary_change,team_yoy_salary,team_2_yoy_salary_change,team_2_yoy_salary,rest_days,team2_rest_days,Matchup_GameDate
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,0.560976,-23,home,-1.918514,128604792,12.818014,155048845,1,3,MIN @ DET_01_11_2023
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,0.524390,8,away,16.437873,187319919,15.654795,156325984,2,3,MIL @ ATL_01_11_2023
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.621951,-8,home,15.654795,156325984,16.437873,187319919,3,2,MIL @ ATL_01_11_2023
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.414634,22,home,10.787332,129936321,-22.404551,99054781,2,2,SAS @ MEM_01_11_2023
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,0.304878,12,home,23.392559,148865819,-19.860195,110738373,2,3,IND @ NYK_01_11_2023
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,0.439024,15,home,36.678610,186645092,14.587811,155603335,2,2,NOP @ BOS_01_11_2023
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,0.560976,-11,home,22.051281,156249793,13.214697,154066878,2,2,CHI @ WAS_01_11_2023
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,0.780488,-16,home,22.025671,168351407,25.254224,170942549,2,1,PHX @ DEN_01_11_2023
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,0.280488,23,away,12.818014,155048845,-1.918514,128604792,3,1,MIN @ DET_01_11_2023
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,0.621951,-15,away,14.587811,155603335,36.678610,186645092,2,2,NOP @ BOS_01_11_2023
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,0.585366,16,away,25.254224,170942549,22.025671,168351407,1,2,PHX @ DEN_01_11_2023
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,0.682927,-22,away,-22.404551,99054781,10.787332,129936321,2,2,SAS @ MEM_01_11_2023
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,0.426829,11,away,13.214697,154066878,22.051281,156249793,2,2,CHI @ WAS_01_11_2023
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,0.451220,-12,away,-19.860195,110738373,23.392559,148865819,3,2,IND @ NYK_01_11_2023
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,0.243902,10,home,8.590307,141664578,6.011122,140217821,2,3,HOU @ SAC_01_11_2023
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,0.365854,-10,away,6.011122,140217821,8.590307,141664578,3,2,HOU @ SAC_01_11_2023

#### 2c update -- not much necessary

In [200]:
trad_season_averages = pd.read_csv('data/player/aggregates_of_aggregates/trad_season_averages_imputed.csv')
min_df = pd.read_csv('data/player/aggregates/players_minutes_played_GBG.csv')
pm_df = pd.read_csv('data/player/aggregates_of_aggregates/Season_Averages_With_Player_Metric.csv')

In [201]:
# date is last 10 digits of matchup gamedate
min_df['date'] = min_df['Matchup_GameDate'].str[-10:]
min_df['date'] = min_df['date'].astype(str).replace('_', '/', regex=True)
min_df['date'] = pd.to_datetime(min_df['date'])
min_df= min_df.sort_values(by=['date'], ascending=False)
min_df

,Matchup_GameDate,POR_Damian Lillard_min,POR_Nicolas Batum_min,UTA_Al Jefferson_min,UTA_Paul Millsap_min,UTA_Marvin Williams_min,UTA_Randy Foye_min,UTA_Derrick Favors_min,UTA_Enes Freedom_min,UTA_Gordon Hayward_min,...,HOU_Trevor Hudgins_min,DET_Buddy Boeheim_min,PHI_Saben Lee_min,POR_John Butler Jr._min,MIN_A.J. Lawson_min,BKN_Alondes Williams_min,IND_Trevelin Queen_min,PHX_Saben Lee_min,DET_Jared Rhoden_min,date
2072,CHI @ WAS_01_11_2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-11
9663,PHX @ DEN_01_11_2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,2023-01-11
7188,MIN @ DET_01_11_2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-11
4506,HOU @ SAC_01_11_2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-11
7569,NOP @ BOS_01_11_2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2900,DAL @ UTA_10_31_2012,0.0,0.0,29.0,33.0,30.0,22.0,18.0,14.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-10-31
11090,SAS @ NOH_10_31_2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-10-31
2668,DAL @ LAL_10_30_2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-10-30
12194,WAS @ CLE_10_30_2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-10-30
1049,BOS @ MIA_10_30_2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012-10-30

In [202]:
def get_home_minutes(matchup):

    #id matchup in min_df
    home_min = min_df[min_df['Matchup_GameDate'] == matchup]

    # get columns
    colz = home_min.columns

    # identify home team
    home_team = matchup[6:9]

    # get player columns for home team
    team_id = [col for col in colz if home_team in col]
    home_cols = ['Matchup_GameDate'] + team_id 
    home_min = home_min[home_cols]

    # change nans to 0
    home_min = home_min.fillna(0)


    # drop cols with 0's (i.e., player did not play)
    zeros = home_min.loc[:, (home_min == 0).any(axis=0)]
    home_min = home_min.drop(columns = zeros)
    
     # rename cols to get rid of team and min portions of the cols
    home_min.columns = [col.split('_')[1] for col in home_min.columns]

    # Add "Matchup_" back to Gamedate column name
    home_min.rename(columns={'GameDate': 'Matchup_GameDate'}, inplace=True)
    
    return home_min

In [203]:
#TEST 
matchup = 'PHX @ TOR_12_30_2022'

get_home_minutes(matchup)

,Matchup_GameDate,Pascal Siakam,O.G. Anunoby,Chris Boucher,Malachi Flynn,Gary Trent Jr.,Scottie Barnes,Thaddeus Young,Jeff Dowtin Jr.,Juancho Hernangomez,Christian Koloko
9970,PHX @ TOR_12_30_2022,41.0,29.0,20.0,18.0,39.0,38.0,23.0,4.0,5.0,21.0

In [204]:
def get_away_minutes(matchup):
    
        #id matchup in min_df
        away_min = min_df[min_df['Matchup_GameDate'] == matchup]
        colz = away_min.columns
    
        # identify home team
        away_team = matchup[:3]
    
        # get player columns for home team
        team_id = [col for col in colz if away_team in col]
        away_cols = ['Matchup_GameDate'] + team_id 
        away_min = away_min[away_cols]
    
        # change NaNs to 0
        away_min = away_min.fillna(0)
    
        # drop cols with 0's (i.e., player did not play)
        zeros = away_min.loc[:, (away_min == 0).any(axis=0)]
        away_min = away_min.drop(columns = zeros)
        
        # rename cols to get rid of team and min portions of the cols
        away_min.columns = [col.split('_')[1] for col in away_min.columns]

        
         # Add "Matchup_" back to Gamedate column name
        away_min.rename(columns={'GameDate': 'Matchup_GameDate'}, inplace=True)

        return away_min

In [205]:
# test it 
get_away_minutes(matchup)

,Matchup_GameDate,Mikal Bridges,Deandre Ayton,Dario Saric,Chris Paul,Torrey Craig,Ish Wainright,Jock Landale,Damion Lee,Josh Okogie,Duane Washington Jr.
9970,PHX @ TOR_12_30_2022,37.0,31.0,20.0,35.0,30.0,23.0,17.0,21.0,12.0,13.0

In [206]:
def get_player_score(player, season):

    # ID Season
    season = int(season)
    get_season = season - 1

    # ID Player
    median_player_score = pm_df['PM_Player_Metric'].median()
    player_score = pm_df[pm_df['trad_player'] == player]
    player_score = player_score[player_score['trad_season'] == get_season]

    if player_score.empty:
        return median_player_score 
    else:
        player_score = player_score['PM_Player_Metric'].values[0]
        return round(player_score,2)

In [207]:
# test
get_player_score('Trae Young', 2022)

1.08

In [208]:
missing_games.head(3)

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,team2_win%_previous_season,team1_prevwins_minus_team2_prevwins,home_or_away,team_yoy_salary_change,team_yoy_salary,team_2_yoy_salary_change,team_2_yoy_salary,rest_days,team2_rest_days,Matchup_GameDate
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,0.560976,-23,home,-1.918514,128604792,12.818014,155048845,1,3,MIN @ DET_01_11_2023
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,0.524390,8,away,16.437873,187319919,15.654795,156325984,2,3,MIL @ ATL_01_11_2023
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.621951,-8,home,15.654795,156325984,16.437873,187319919,3,2,MIL @ ATL_01_11_2023

In [209]:
# change trad_gamedate to mdy style
missing_games['trad_gamedate_mdy'] = pd.to_datetime(missing_games['trad_gamedate'])
missing_games['trad_gamedate_mdy'] = missing_games['trad_gamedate_mdy'].dt.strftime('%m/%d/%Y')

In [210]:
missing_games['Matchup_GameDate_2'] = missing_games['trad_matchup'] + '_' + missing_games['trad_gamedate_mdy'].astype(str).str.replace('/','_')

In [211]:
def score_home(matchup, cutoff):
    #Get home team minutes
    home_min = get_home_minutes(matchup)

    # Get matchup_gamedate value
    matchup_df = missing_games[missing_games['Matchup_GameDate'] == matchup].reset_index()

    # Get season
    season = matchup_df['trad_season'].values[0]
    get_season = int(season)
    home_player_cols = list(home_min.columns[1:])
    
    # for each player find score from previous year
    for col in home_player_cols:
        player = col
        home_min[col + '_score'] = get_player_score(player, get_season)
    
    # calculate final score
    # keep the top 8 scoring players
    score_cols = [col for col in home_min.columns if col.endswith('_score')]
    mincolz = home_min[score_cols]
    score_cols_df = pd.DataFrame(mincolz)
    score_cols_df = score_cols_df.T
    score_cols_df.columns = ['score']
    score_cols_df = score_cols_df.sort_values(by='score', ascending=False)
    # the cutoff is the number of players to include in the data
    score_cols_df = score_cols_df.head(cutoff)
    home_score = score_cols_df.sum()

    return home_score.values[0]

In [212]:
missing_games.trad_season

0     2022
1     2022
2     2022
3     2022
4     2022
5     2022
6     2022
7     2022
8     2022
9     2022
10    2022
11    2022
12    2022
13    2022
14    2022
15    2022
Name: trad_season, dtype: int64

In [213]:
missing_games.Matchup_GameDate

0     MIN @ DET_01_11_2023
1     MIL @ ATL_01_11_2023
2     MIL @ ATL_01_11_2023
3     SAS @ MEM_01_11_2023
4     IND @ NYK_01_11_2023
5     NOP @ BOS_01_11_2023
6     CHI @ WAS_01_11_2023
7     PHX @ DEN_01_11_2023
8     MIN @ DET_01_11_2023
9     NOP @ BOS_01_11_2023
10    PHX @ DEN_01_11_2023
11    SAS @ MEM_01_11_2023
12    CHI @ WAS_01_11_2023
13    IND @ NYK_01_11_2023
14    HOU @ SAC_01_11_2023
15    HOU @ SAC_01_11_2023
Name: Matchup_GameDate, dtype: object

In [215]:

def score_away(matchup, cutoff):

    
        #Get away team minutes
        away_min = get_away_minutes(matchup)
    
        # Get matchup_gamedate value
        matchup_gdate  = away_min['Matchup_GameDate'].values[0]
        date_df = missing_games[missing_games['Matchup_GameDate'] == matchup_gdate].reset_index()
    
        # Get season
        season = date_df['trad_season'].values[0]
        get_season = int(season)
        away_player_cols = list(away_min.columns[1:])
        
        # for each player find score from previous year
        for col in away_player_cols:
            player = col
            away_min[col + '_score'] = get_player_score(player, get_season)
    
        # calculate final score
        # keep the top 8 scoring players
        score_cols = [col for col in away_min.columns if col.endswith('_score')]
        mincolz = away_min[score_cols]
        score_cols_df = pd.DataFrame(mincolz)
        score_cols_df = score_cols_df.T
        score_cols_df.columns = ['score']
        score_cols_df = score_cols_df.sort_values(by='score', ascending=False)
        # the cutoff is the number of players to include in the data
        score_cols_df = score_cols_df.head(cutoff)
        away_score = score_cols_df.sum()
    
        return away_score.values[0]

In [216]:
def score_game(matchup, cutoff):
    try:
        if 'vs' in matchup:
            home_team = matchup[0:3]
            home_team = str(home_team)
            away_team = matchup[8:11]
            away_team = str(away_team)
            date = matchup[-10:]
            date = str(date)
            new_matchup = away_team + ' @ ' + home_team + '_' + date
            new_matchup = str(new_matchup)
            home_score = score_home(new_matchup, cutoff)
            away_score = score_away(new_matchup, cutoff)
            if home_score > away_score:
                winner = home_team
            else:
                winner = away_team
        else:
            home_team = matchup[6:9]
            home_team = str(home_team)
            away_team = matchup[0:3]
            away_team = str(away_team)
            home_score = score_home(matchup, cutoff)
            away_score = score_away(matchup, cutoff)
            if home_score > away_score:
                winner = home_team
            else:
                winner = away_team
        return winner
    except:
        return np.nan

In [217]:
def get_net_score(team, matchup, cutoff):
    try:
        if 'vs' in matchup:
            home_team = matchup[0:3]
            home_team = str(home_team)
            away_team = matchup[8:11]
            away_team = str(away_team)
            date = matchup[-10:]
            date = str(date)
            new_matchup = away_team + ' @ ' + home_team + '_' + date
            new_matchup = str(new_matchup)
            home_score = score_home(new_matchup, cutoff)
            away_score = score_away(new_matchup, cutoff)

            if team == home_team:
                net_score = home_score - away_score
            elif team == away_team:
                net_score = away_score - home_score
            
            return net_score
           
        else:
            home_team = matchup[6:9]
            home_team = str(home_team)
            away_team = matchup[0:3]
            away_team = str(away_team)
            home_score = score_home(matchup, cutoff)
            away_score = score_away(matchup, cutoff)
            if team == home_team:
                net_score = home_score - away_score
            elif team == away_team:
                net_score = away_score - home_score
        return net_score

    except:
        return np.nan

In [218]:
missing_games['net_score_top_4'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 4), axis=1)

In [219]:
# check nan
missing_games[missing_games['net_score_top_4'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, trad_unnamed: 0, trad_team, trad_matchup, trad_gamedate, trad_w/l, trad_min, trad_pts, trad_fgm, trad_fga, trad_fg%, trad_3pm, trad_3pa, trad_3p%, trad_ftm, trad_fta, trad_ft%, trad_oreb, trad_dreb, trad_reb, trad_ast, trad_tov, trad_stl, trad_blk, trad_pf, trad_+/-, trad_season, trad_season_type, adv_unnamed: 0, adv_team, adv_matchup, adv_gamedate, adv_w/l, adv_min, adv_offrtg, adv_defrtg, adv_netrtg, adv_ast%, adv_ast/to, adv_astratio, adv_oreb%, adv_dreb%, adv_reb%, adv_tov%, adv_efg%, adv_ts%, adv_pace, adv_pie, adv_season, adv_season_type, four_unnamed: 0, four_team, four_matchup, four_gamedate, four_w/l, four_min, four_efg%, four_ftarate, four_tov%, four_oreb%, four_oppefg%, four_oppftaÂ rate, four_opptov%, four_opporeb%, four_season, four_season_type, misc_unnamed: 0, misc_team, misc_matchup, misc_gamedate, misc_w/l, misc_min, misc_ptsoffÂ to, misc_2ndpts, misc_fbps, misc_pitp, misc_oppÂ ptsoffÂ to, misc_opp2ndÂ pts, misc_oppfbps, misc_opppitp, misc_season, misc_season_type, score_unnamed: 0, score_team, score_matchup, score_gamedate, score_w/l, score_min, score_%fga2pt, score_%fga3pt, score_%pts2pt, score_%pts2ptÂ mr, score_%pts3pt, score_%ptsfbps, score_%ptsft, score_%ptsoffÂ to, score_%ptspitp, score_2fgm%ast, score_2fgm%uast, score_3fgm%ast, ...]
Index: []

[0 rows x 702 columns]

In [220]:
missing_games['net_score_top_4'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 4), axis=1)
missing_games['net_score_top_5'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 5), axis=1)
missing_games['net_score_top_6'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 6), axis=1)
missing_games['net_score_top_7'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 7), axis=1)
missing_games['net_score_top_8'] = missing_games.apply(lambda row: get_net_score(row['trad_team'], row['Matchup_GameDate'], 8), axis=1)

In [221]:
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,rest_days,team2_rest_days,Matchup_GameDate,trad_gamedate_mdy,Matchup_GameDate_2,net_score_top_4,net_score_top_5,net_score_top_6,net_score_top_7,net_score_top_8
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,1,3,MIN @ DET_01_11_2023,01/11/2023,DET vs. MIN_01_11_2023,0.17,0.130000,0.110000,0.110000,0.132071
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,2,3,MIL @ ATL_01_11_2023,01/11/2023,MIL @ ATL_01_11_2023,0.09,0.277929,0.397929,0.480000,0.592071
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,3,2,MIL @ ATL_01_11_2023,01/11/2023,ATL vs. MIL_01_11_2023,-0.09,-0.277929,-0.397929,-0.480000,-0.592071
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,2,2,SAS @ MEM_01_11_2023,01/11/2023,MEM vs. SAS_01_11_2023,0.20,0.270000,0.260000,0.260000,0.260000
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,2,3,IND @ NYK_01_11_2023,01/11/2023,NYK vs. IND_01_11_2023,-0.04,-0.070000,-0.020000,0.017929,-0.054143
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,2,2,NOP @ BOS_01_11_2023,01/11/2023,BOS vs. NOP_01_11_2023,0.72,0.840000,0.907929,0.965857,1.013786
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,2,2,CHI @ WAS_01_11_2023,01/11/2023,WAS vs. CHI_01_11_2023,-0.20,-0.180000,-0.170000,-0.140000,-0.122071
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,2,1,PHX @ DEN_01_11_2023,01/11/2023,DEN vs. PHX_01_11_2023,0.43,0.527929,0.605857,0.725857,0.907929
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,3,1,MIN @ DET_01_11_2023,01/11/2023,MIN @ DET_01_11_2023,-0.17,-0.130000,-0.110000,-0.110000,-0.132071
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,2,2,NOP @ BOS_01_11_2023,01/11/2023,NOP @ BOS_01_11_2023,-0.72,-0.840000,-0.907929,-0.965857,-1.013786
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,1,2,PHX @ DEN_01_11_2023,01/11/2023,PHX @ DEN_01_11_2023,-0.43,-0.527929,-0.605857,-0.725857,-0.907929
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,2,2,SAS @ MEM_01_11_2023,01/11/2023,SAS @ MEM_01_11_2023,-0.20,-0.270000,-0.260000,-0.260000,-0.260000
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,2,2,CHI @ WAS_01_11_2023,01/11/2023,CHI @ WAS_01_11_2023,0.20,0.180000,0.170000,0.140000,0.122071
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,3,2,IND @ NYK_01_11_2023,01/11/2023,IND @ NYK_01_11_2023,0.04,0.070000,0.020000,-0.017929,0.054143
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,2,3,HOU @ SAC_01_11_2023,01/11/2023,SAC vs. HOU_01_11_2023,0.22,0.377929,0.525857,0.653786,0.711714
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,3,2,HOU @ SAC_01_11_2023,01/11/2023,HOU @ SAC_01_11_2023,-0.22,-0.377929,-0.525857,-0.653786,-0.711714

In [222]:
missing_games['top_4_predicted_winner'] = np.where(missing_games['net_score_top_4'] > 0, 1, 0)
missing_games['top_5_predicted_winner'] = np.where(missing_games['net_score_top_5'] > 0, 1, 0)
missing_games['top_6_predicted_winner'] = np.where(missing_games['net_score_top_6'] > 0, 1, 0)
missing_games['top_7_predicted_winner'] = np.where(missing_games['net_score_top_7'] > 0, 1, 0)
missing_games['top_8_predicted_winner'] = np.where(missing_games['net_score_top_8'] > 0, 1, 0)

In [223]:
# find colluns with date in them
date_cols = [col for col in missing_games.columns if 'date' in col]
date_cols

['trad_gamedate',
 'adv_gamedate',
 'four_gamedate',
 'misc_gamedate',
 'score_gamedate',
 'tm2__trad_gamedate',
 'tm2__adv_gamedate',
 'tm2__four_gamedate',
 'tm2__misc_gamedate',
 'tm2__score_gamedate',
 'trad_gamedate_mdy']

### 2d -- Needs NO updates

### 2e update

In [224]:
df['trad_gamedate'] = pd.to_datetime(df['trad_gamedate'])
missing_games['trad_gamedate'] = pd.to_datetime(missing_games['trad_gamedate'])

In [225]:
def get_game_avgs(my_gameid, team, season, date, metric, game_num, agg_metric):
    data = df[df['trad_team'] == team]
    # filter by date
    data = data[data['trad_gamedate'] < date]
    # only last 80 games
    data = data.sort_values('trad_gamedate', ascending = False)
    data = data.head(game_num)
    data = data.dropna(subset = [metric])
    if agg_metric == 'std':
        metric = data[metric].std()
    else:
        metric = data[metric].mean()
    return metric

In [226]:
missing_games['tm1_80_game_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 80, 'avg'), axis=1)
missing_games['tm1_80_game_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 80, 'std'), axis=1)
missing_games['tm1_80_game_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 80, 'avg'), axis=1)
missing_games['tm1_80_game_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 80, 'std'), axis=1)
missing_games['tm1_80_game_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 80, 'avg'), axis=1)
missing_games['tm1_80_game_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 80, 'std'), axis=1)

In [227]:
missing_games['tm2_80_game_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 80, 'avg'), axis=1)
missing_games['tm2_80_game_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 80, 'std'), axis=1)
missing_games['tm2_80_game_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 80, 'avg'), axis=1)
missing_games['tm2_80_game_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 80, 'std'), axis=1)
missing_games['tm2_80_game_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 80, 'avg'), axis=1)
missing_games['tm2_80_game_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 80, 'std'), axis=1)

In [228]:
missing_games['tm1_40_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 40, 'avg'), axis=1)
missing_games['tm1_40_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 40, 'std'), axis=1)
missing_games['tm1_40_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 40, 'avg'), axis=1)
missing_games['tm1_40_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 40, 'std'), axis=1)
missing_games['tm1_40_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 40, 'avg'), axis=1)
missing_games['tm1_40_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 40, 'std'), axis=1)

In [229]:
missing_games['tm2_40_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 40, 'avg'), axis=1)
missing_games['tm2_40_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 40, 'std'), axis=1)
missing_games['tm2_40_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 40, 'avg'), axis=1)
missing_games['tm2_40_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 40, 'std'), axis=1)
missing_games['tm2_40_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 40, 'avg'), axis=1)
missing_games['tm2_40_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 40, 'std'), axis=1)

In [230]:
missing_games['tm1_20_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 20, 'avg'), axis=1)
missing_games['tm1_20_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 20, 'std'), axis=1)
missing_games['tm1_20_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 20, 'avg'), axis=1)
missing_games['tm1_20_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 20, 'std'), axis=1)
missing_games['tm1_20_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 20, 'avg'), axis=1)
missing_games['tm1_20_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 20, 'std'), axis=1)

In [231]:
missing_games['tm2_20_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 20, 'avg'), axis=1)
missing_games['tm2_20_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 20, 'std'), axis=1)
missing_games['tm2_20_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 20, 'avg'), axis=1)
missing_games['tm2_20_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 20, 'std'), axis=1)
missing_games['tm2_20_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 20, 'avg'), axis=1)
missing_games['tm2_20_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 20, 'std'), axis=1)

In [232]:
missing_games['tm1_10_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 10, 'avg'), axis=1)
missing_games['tm1_10_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 10, 'std'), axis=1)
missing_games['tm1_10_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 10, 'avg'), axis=1)
missing_games['tm1_10_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 10, 'std'), axis=1)
missing_games['tm1_10_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 10, 'avg'), axis=1)
missing_games['tm1_10_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 10, 'std'), axis=1)

In [233]:
missing_games['tm2_10_gm_avg_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 10, 'avg'), axis=1)
missing_games['tm2_10_gm_std_offrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_offrtg', 10, 'std'), axis=1)
missing_games['tm2_10_gm_avg_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 10, 'avg'), axis=1)
missing_games['tm2_10_gm_std_defrtg'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_defrtg', 10, 'std'), axis=1)
missing_games['tm2_10_gm_avg_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 10, 'avg'), axis=1)
missing_games['tm2_10_gm_std_pace'] = missing_games.apply(lambda row: get_game_avgs(row['Matchup_GameDate'], row['trad_team'], row['trad_season'], row['trad_gamedate_mdy'], 'adv_pace', 10, 'std'), axis=1)

In [234]:
def get_NBA_avgs(my_gameid, season, date, metric, game_num, agg_metric):
    # filter by date
    data = df[df['trad_gamedate'] < date]
    # only last 80 games
    data = data.sort_values('trad_gamedate', ascending = False)
    gamess = game_num * 30 # for each team
    data = data.head(gamess)
    data = data.dropna(subset = [metric])
    if agg_metric == 'std':
        metric = data[metric].std()
    else:
        metric = data[metric].mean()
    return metric

In [235]:
missing_games['nba_80_gm_avg_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 80, 'avg'), axis=1)
missing_games['nba_80_gm_std_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 80, 'std'), axis=1)
missing_games['nba_80_gm_avg_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 80, 'avg'), axis=1)
missing_games['nba_80_gm_std_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 80, 'std'), axis=1)
missing_games['nba_80_gm_avg_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 80, 'avg'), axis=1)
missing_games['nba_80_gm_std_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 80, 'std'), axis=1)

In [236]:
missing_games['nba_40_gm_avg_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 40, 'avg'), axis=1)
missing_games['nba_40_gm_std_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 40, 'std'), axis=1)
missing_games['nba_40_gm_avg_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 40, 'avg'), axis=1)
missing_games['nba_40_gm_std_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 40, 'std'), axis=1)
missing_games['nba_40_gm_avg_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 40, 'avg'), axis=1)
missing_games['nba_40_gm_std_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 40, 'std'), axis=1)

In [237]:
missing_games['nba_20_gm_avg_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 20, 'avg'), axis=1)
missing_games['nba_20_gm_std_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 20, 'std'), axis=1)
missing_games['nba_20_gm_avg_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'],  row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 20, 'avg'), axis=1)
missing_games['nba_20_gm_std_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 20, 'std'), axis=1)
missing_games['nba_20_gm_avg_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'],  row['trad_season'], row['trad_gamedate'], 'adv_pace', 20, 'avg'), axis=1)
missing_games['nba_20_gm_std_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'],  row['trad_season'], row['trad_gamedate'], 'adv_pace', 20, 'std'), axis=1)

In [238]:
missing_games['nba_10_gm_avg_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 10, 'avg'), axis=1)
missing_games['nba_10_gm_std_offrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_offrtg', 10, 'std'), axis=1)
missing_games['nba_10_gm_avg_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 10, 'avg'), axis=1)
missing_games['nba_10_gm_std_defrtg'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_defrtg', 10, 'std'), axis=1)
missing_games['nba_10_gm_avg_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 10, 'avg'), axis=1)
missing_games['nba_10_gm_std_pace'] = missing_games.apply(lambda row: get_NBA_avgs(row['Matchup_GameDate'], row['trad_season'], row['trad_gamedate'], 'adv_pace', 10, 'std'), axis=1)

In [239]:
missing_games['80gm_tm1_minus_nba_avg_offrtg'] = missing_games['tm1_80_game_avg_offrtg'] - missing_games['nba_80_gm_avg_offrtg']
missing_games['80gm_tm1_minus_nba_std_offrtg'] = missing_games['tm1_80_game_std_offrtg'] - missing_games['nba_80_gm_std_offrtg']
missing_games['80gm_tm1_minus_nba_avg_defrtg'] = missing_games['tm1_80_game_avg_defrtg'] - missing_games['nba_80_gm_avg_defrtg']
missing_games['80gm_tm1_minus_nba_std_defrtg'] = missing_games['tm1_80_game_std_defrtg'] - missing_games['nba_80_gm_std_defrtg']
missing_games['80gm_tm1_minus_nba_avg_pace'] = missing_games['tm1_80_game_avg_pace'] - missing_games['nba_80_gm_avg_pace']
missing_games['80gm_tm1_minus_nba_std_pace'] = missing_games['tm1_80_game_std_pace'] - missing_games['nba_80_gm_std_pace']

In [240]:
missing_games['80gm_tm2_minus_nba_avg_offrtg'] = missing_games['tm2_80_game_avg_offrtg'] - missing_games['nba_80_gm_avg_offrtg']
missing_games['80gm_tm2_minus_nba_std_offrtg'] = missing_games['tm2_80_game_std_offrtg'] - missing_games['nba_80_gm_std_offrtg']
missing_games['80gm_tm2_minus_nba_avg_defrtg'] = missing_games['tm2_80_game_avg_defrtg'] - missing_games['nba_80_gm_avg_defrtg']
missing_games['80gm_tm2_minus_nba_std_defrtg'] = missing_games['tm2_80_game_std_defrtg'] - missing_games['nba_80_gm_std_defrtg']
missing_games['80gm_tm2_minus_nba_avg_pace'] = missing_games['tm2_80_game_avg_pace'] - missing_games['nba_80_gm_avg_pace']
missing_games['80gm_tm2_minus_nba_std_pace'] = missing_games['tm2_80_game_std_pace'] - missing_games['nba_80_gm_std_pace']

In [241]:
missing_games['40gm_tm1_minus_nba_avg_offrtg'] = missing_games['tm1_40_gm_avg_offrtg'] - missing_games['nba_40_gm_avg_offrtg']
missing_games['40gm_tm1_minus_nba_std_offrtg'] = missing_games['tm1_40_gm_std_offrtg'] - missing_games['nba_40_gm_std_offrtg']
missing_games['40gm_tm1_minus_nba_avg_defrtg'] = missing_games['tm1_40_gm_avg_defrtg'] - missing_games['nba_40_gm_avg_defrtg']
missing_games['40gm_tm1_minus_nba_std_defrtg'] = missing_games['tm1_40_gm_std_defrtg'] - missing_games['nba_40_gm_std_defrtg']
missing_games['40gm_tm1_minus_nba_avg_pace'] = missing_games['tm1_40_gm_avg_pace'] - missing_games['nba_40_gm_avg_pace']
missing_games['40gm_tm1_minus_nba_std_pace'] = missing_games['tm1_40_gm_std_pace'] - missing_games['nba_40_gm_std_pace']

missing_games['40gm_tm2_minus_nba_avg_offrtg'] = missing_games['tm2_40_gm_avg_offrtg'] - missing_games['nba_40_gm_avg_offrtg']
missing_games['40gm_tm2_minus_nba_std_offrtg'] = missing_games['tm2_40_gm_std_offrtg'] - missing_games['nba_40_gm_std_offrtg']
missing_games['40gm_tm2_minus_nba_avg_defrtg'] = missing_games['tm2_40_gm_avg_defrtg'] - missing_games['nba_40_gm_avg_defrtg']
missing_games['40gm_tm2_minus_nba_std_defrtg'] = missing_games['tm2_40_gm_std_defrtg'] - missing_games['nba_40_gm_std_defrtg']
missing_games['40gm_tm2_minus_nba_avg_pace'] = missing_games['tm2_40_gm_avg_pace'] - missing_games['nba_40_gm_avg_pace']
missing_games['40gm_tm2_minus_nba_std_pace'] = missing_games['tm2_40_gm_std_pace'] - missing_games['nba_40_gm_std_pace']

missing_games['20gm_tm1_minus_nba_avg_offrtg'] = missing_games['tm1_20_gm_avg_offrtg'] - missing_games['nba_20_gm_avg_offrtg']
missing_games['20gm_tm1_minus_nba_std_offrtg'] = missing_games['tm1_20_gm_std_offrtg'] - missing_games['nba_20_gm_std_offrtg']
missing_games['20gm_tm1_minus_nba_avg_defrtg'] = missing_games['tm1_20_gm_avg_defrtg'] - missing_games['nba_20_gm_avg_defrtg']
missing_games['20gm_tm1_minus_nba_std_defrtg'] = missing_games['tm1_20_gm_std_defrtg'] - missing_games['nba_20_gm_std_defrtg']
missing_games['20gm_tm1_minus_nba_avg_pace'] = missing_games['tm1_20_gm_avg_pace'] - missing_games['nba_20_gm_avg_pace']
missing_games['20gm_tm1_minus_nba_std_pace'] = missing_games['tm1_20_gm_std_pace'] - missing_games['nba_20_gm_std_pace']

missing_games['20gm_tm2_minus_nba_avg_offrtg'] = missing_games['tm2_20_gm_avg_offrtg'] - missing_games['nba_20_gm_avg_offrtg']
missing_games['20gm_tm2_minus_nba_std_offrtg'] = missing_games['tm2_20_gm_std_offrtg'] - missing_games['nba_20_gm_std_offrtg']
missing_games['20gm_tm2_minus_nba_avg_defrtg'] = missing_games['tm2_20_gm_avg_defrtg'] - missing_games['nba_20_gm_avg_defrtg']
missing_games['20gm_tm2_minus_nba_std_defrtg'] = missing_games['tm2_20_gm_std_defrtg'] - missing_games['nba_20_gm_std_defrtg']
missing_games['20gm_tm2_minus_nba_avg_pace'] = missing_games['tm2_20_gm_avg_pace'] - missing_games['nba_20_gm_avg_pace']
missing_games['20gm_tm2_minus_nba_std_pace'] = missing_games['tm2_20_gm_std_pace'] - missing_games['nba_20_gm_std_pace']

missing_games['10gm_tm1_minus_nba_avg_offrtg'] = missing_games['tm1_10_gm_avg_offrtg'] - missing_games['nba_10_gm_avg_offrtg']
missing_games['10gm_tm1_minus_nba_std_offrtg'] = missing_games['tm1_10_gm_std_offrtg'] - missing_games['nba_10_gm_std_offrtg']
missing_games['10gm_tm1_minus_nba_avg_defrtg'] = missing_games['tm1_10_gm_avg_defrtg'] - missing_games['nba_10_gm_avg_defrtg']
missing_games['10gm_tm1_minus_nba_std_defrtg'] = missing_games['tm1_10_gm_std_defrtg'] - missing_games['nba_10_gm_std_defrtg']
missing_games['10gm_tm1_minus_nba_avg_pace'] = missing_games['tm1_10_gm_avg_pace'] - missing_games['nba_10_gm_avg_pace']
missing_games['10gm_tm1_minus_nba_std_pace'] = missing_games['tm1_10_gm_std_pace'] - missing_games['nba_10_gm_std_pace']

missing_games['10gm_tm2_minus_nba_avg_offrtg'] = missing_games['tm2_10_gm_avg_offrtg'] - missing_games['nba_10_gm_avg_offrtg']
missing_games['10gm_tm2_minus_nba_std_offrtg'] = missing_games['tm2_10_gm_std_offrtg'] - missing_games['nba_10_gm_std_offrtg']
missing_games['10gm_tm2_minus_nba_avg_defrtg'] = missing_games['tm2_10_gm_avg_defrtg'] - missing_games['nba_10_gm_avg_defrtg']
missing_games['10gm_tm2_minus_nba_std_defrtg'] = missing_games['tm2_10_gm_std_defrtg'] - missing_games['nba_10_gm_std_defrtg']
missing_games['10gm_tm2_minus_nba_avg_pace'] = missing_games['tm2_10_gm_avg_pace'] - missing_games['nba_10_gm_avg_pace']
missing_games['10gm_tm2_minus_nba_std_pace'] = missing_games['tm2_10_gm_std_pace'] - missing_games['nba_10_gm_std_pace']

In [242]:
missing_games['Tm1_Points_Estimate_80gm'] = ((missing_games['tm1_80_game_avg_pace'] + missing_games['tm2_80_game_avg_pace'])/2) * ((missing_games['tm1_80_game_avg_offrtg'] - (missing_games['tm1_80_game_avg_defrtg'] - missing_games['nba_80_gm_avg_defrtg'])))/100
missing_games['Tm2_Points_Estimate_80gm'] = ((missing_games['tm1_80_game_avg_pace'] + missing_games['tm2_80_game_avg_pace'])/2) * ((missing_games['tm2_80_game_avg_offrtg'] - (missing_games['tm2_80_game_avg_defrtg'] - missing_games['nba_80_gm_avg_defrtg'])))/100
missing_games['Estimate_Points_Difference_80gm'] = missing_games['Tm1_Points_Estimate_80gm'] - missing_games['Tm2_Points_Estimate_80gm']

missing_games['Tm1_Points_Estimate_40gm'] = ((missing_games['tm1_40_gm_avg_pace'] + missing_games['tm2_40_gm_avg_pace'])/2) * ((missing_games['tm1_40_gm_avg_offrtg'] - (missing_games['tm1_40_gm_avg_defrtg'] - missing_games['nba_40_gm_avg_defrtg'])))/100
missing_games['Tm2_Points_Estimate_40gm'] = ((missing_games['tm1_40_gm_avg_pace'] + missing_games['tm2_40_gm_avg_pace'])/2) * ((missing_games['tm2_40_gm_avg_offrtg'] - (missing_games['tm2_40_gm_avg_defrtg'] - missing_games['nba_40_gm_avg_defrtg'])))/100
missing_games['Estimate_Points_Difference_40gm'] = missing_games['Tm1_Points_Estimate_40gm'] - missing_games['Tm2_Points_Estimate_40gm']

missing_games['Tm1_Points_Estimate_20gm'] = ((missing_games['tm1_20_gm_avg_pace'] + missing_games['tm2_20_gm_avg_pace'])/2) * ((missing_games['tm1_20_gm_avg_offrtg'] - (missing_games['tm1_20_gm_avg_defrtg'] - missing_games['nba_20_gm_avg_defrtg'])))/100
missing_games['Tm2_Points_Estimate_20gm'] = ((missing_games['tm1_20_gm_avg_pace'] + missing_games['tm2_20_gm_avg_pace'])/2) * ((missing_games['tm2_20_gm_avg_offrtg'] - (missing_games['tm2_20_gm_avg_defrtg'] - missing_games['nba_20_gm_avg_defrtg'])))/100
missing_games['Estimate_Points_Difference_20gm'] = missing_games['Tm1_Points_Estimate_20gm'] - missing_games['Tm2_Points_Estimate_20gm']

missing_games['Tm1_Points_Estimate_10gm'] = ((missing_games['tm1_10_gm_avg_pace'] + missing_games['tm2_10_gm_avg_pace'])/2) * ((missing_games['tm1_10_gm_avg_offrtg'] - (missing_games['tm1_10_gm_avg_defrtg'] - missing_games['nba_10_gm_avg_defrtg'])))/100
missing_games['Tm2_Points_Estimate_10gm'] = ((missing_games['tm1_10_gm_avg_pace'] + missing_games['tm2_10_gm_avg_pace'])/2) * ((missing_games['tm2_10_gm_avg_offrtg'] - (missing_games['tm2_10_gm_avg_defrtg'] - missing_games['nba_10_gm_avg_defrtg'])))/100
missing_games['Estimate_Points_Difference_10gm'] = missing_games['Tm1_Points_Estimate_10gm'] - missing_games['Tm2_Points_Estimate_10gm']

In [243]:
# Weighted Average of the 4 estimates
missing_games['Tm1_Points_Estimate_Weighted'] = missing_games['Tm1_Points_Estimate_80gm'] * 0.17 + missing_games['Tm1_Points_Estimate_40gm'] * 0.22 + missing_games['Tm1_Points_Estimate_20gm'] * 0.28 + missing_games['Tm1_Points_Estimate_10gm'] * 0.33
missing_games['Tm2_Points_Estimate_Weighted'] = missing_games['Tm2_Points_Estimate_80gm'] * 0.17 + missing_games['Tm2_Points_Estimate_40gm'] * 0.22 + missing_games['Tm2_Points_Estimate_20gm'] * 0.28 + missing_games['Tm2_Points_Estimate_10gm'] * 0.33


missing_games['Estimate_Points_Difference_Weighted'] = missing_games['Tm1_Points_Estimate_Weighted'] - missing_games['Tm2_Points_Estimate_Weighted']

In [244]:
missing_games

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,Estimate_Points_Difference_40gm,Tm1_Points_Estimate_20gm,Tm2_Points_Estimate_20gm,Estimate_Points_Difference_20gm,Tm1_Points_Estimate_10gm,Tm2_Points_Estimate_10gm,Estimate_Points_Difference_10gm,Tm1_Points_Estimate_Weighted,Tm2_Points_Estimate_Weighted,Estimate_Points_Difference_Weighted
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,0.0,109.479596,109.479596,0.0,109.464648,109.464648,0.0,108.375310,108.375310,0.0
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,0.0,114.483254,114.483254,0.0,112.259185,112.259185,0.0,114.086193,114.086193,0.0
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,0.0,112.198240,112.198240,0.0,117.334088,117.334088,0.0,114.565175,114.565175,0.0
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,0.0,125.294033,125.294033,0.0,123.497873,123.497873,0.0,122.553996,122.553996,0.0
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,0.0,117.306989,117.306989,0.0,109.206759,109.206759,0.0,113.203020,113.203020,0.0
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,0.0,120.114924,120.114924,0.0,122.876182,122.876182,0.0,120.790958,120.790958,0.0
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,0.0,112.502888,112.502888,0.0,116.521665,116.521665,0.0,113.033112,113.033112,0.0
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,0.0,118.551303,118.551303,0.0,124.055471,124.055471,0.0,119.266419,119.266419,0.0
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,0.0,114.532721,114.532721,0.0,114.381324,114.381324,0.0,113.913360,113.913360,0.0
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,0.0,118.976189,118.976189,0.0,118.283344,118.283344,0.0,117.912761,117.912761,0.0
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,0.0,109.852877,109.852877,0.0,104.137117,104.137117,0.0,108.957310,108.957310,0.0
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,0.0,107.543470,107.543470,0.0,110.330501,110.330501,0.0,108.131733,108.131733,0.0
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,0.0,113.485980,113.485980,0.0,115.134818,115.134818,0.0,113.735749,113.735749,0.0
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,0.0,114.247341,114.247341,0.0,118.296390,118.296390,0.0,114.312888,114.312888,0.0
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,0.0,116.196511,116.196511,0.0,117.080131,117.080131,0.0,115.544891,115.544891,0.0
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,0.0,105.400582,105.400582,0.0,103.639918,103.639918,0.0,105.296123,105.296123,0.0

### 2f update

In [245]:
# load from csv
bdb_df = pd.read_csv('data/team/aggregates/bigdataball_team_boxes.csv')
bdb_df['date']= pd.to_datetime(bdb_df['DATE'])
bdb_df['date'] = bdb_df['date'].dt.strftime('%Y-%m-%d')
bdb_df.sort_values(by=['date'], ascending = False, inplace=True)
bdb_df.head(10)

,BIGDATABALL\nDATASET,GAME-ID,DATE,TEAM,VENUE,1Q,2Q,3Q,4Q,OT1,...,FULL GAME\nODDS URL,Team_Abrev,Nba_com_team_Abbrev,Opp_Abbrev,Nba_com_team_2_abbrev,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate,date
1249,NBA 2022-2023 Regular Season,22200625,01/11/2023,Sacramento,H,31,36,27,41,NaN,...,ODDS,Sac,SAC,Hou,HOU,01_11_2023,SAC,HOU,HOU @ SAC_01_11_2023,2023-01-11
1241,NBA 2022-2023 Regular Season,22200621,01/11/2023,Boston,H,35,29,33,28,NaN,...,ODDS,Bos,BOS,Nor,NOP,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11
1234,NBA 2022-2023 Regular Season,22200618,01/11/2023,Minnesota,R,34,30,23,31,NaN,...,NaN,Min,MIN,Det,DET,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11
1235,NBA 2022-2023 Regular Season,22200618,01/11/2023,Detroit,H,31,34,36,34,NaN,...,ODDS,Det,DET,Min,MIN,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11
1236,NBA 2022-2023 Regular Season,22200619,01/11/2023,Chicago,R,29,30,21,17,NaN,...,NaN,Chi,CHI,Was,WAS,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11
1237,NBA 2022-2023 Regular Season,22200619,01/11/2023,Washington,H,25,21,41,13,NaN,...,ODDS,Was,WAS,Chi,CHI,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11
1238,NBA 2022-2023 Regular Season,22200620,01/11/2023,Milwaukee,R,39,28,22,25,NaN,...,NaN,Mil,MIL,Atl,ATL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11
1240,NBA 2022-2023 Regular Season,22200621,01/11/2023,New Orleans,R,32,26,27,29,NaN,...,NaN,Nor,NOP,Bos,BOS,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11
1239,NBA 2022-2023 Regular Season,22200620,01/11/2023,Atlanta,H,19,27,36,23,NaN,...,ODDS,Atl,ATL,Mil,MIL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11
1242,NBA 2022-2023 Regular Season,22200622,01/11/2023,Indiana,R,21,20,40,32,NaN,...,NaN,Ind,IND,Nyk,NYK,01_11_2023,NYK,IND,IND @ NYK_01_11_2023,2023-01-11

In [246]:
bdb_df['opponent'] = bdb_df['Nba_com_team_2_abbrev']

In [247]:
bdb_df.date = pd.to_datetime(bdb_df.date)

In [248]:
# merge with missing games
missing_games2 = pd.merge(missing_games, bdb_df, 
                            left_on= ['trad_team', 'trad_gamedate'], 
                            right_on= ['Nba_com_team_Abbrev', 'date'], 
                            how='left')

In [249]:
missing_games2

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,Team_Abrev,Nba_com_team_Abbrev,Opp_Abbrev,Nba_com_team_2_abbrev,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate_y,date,opponent
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,Det,DET,Min,MIN,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11,MIN
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,Mil,MIL,Atl,ATL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11,ATL
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,Atl,ATL,Mil,MIL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11,MIL
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,Mem,MEM,San,SAS,01_11_2023,MEM,SAS,SAS @ MEM_01_11_2023,2023-01-11,SAS
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,Nyk,NYK,Ind,IND,01_11_2023,NYK,IND,IND @ NYK_01_11_2023,2023-01-11,IND
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,Bos,BOS,Nor,NOP,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11,NOP
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,Was,WAS,Chi,CHI,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11,CHI
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,Den,DEN,Pho,PHX,01_11_2023,DEN,PHX,PHX @ DEN_01_11_2023,2023-01-11,PHX
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,Min,MIN,Det,DET,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11,DET
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,Nor,NOP,Bos,BOS,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11,BOS
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,Pho,PHX,Den,DEN,01_11_2023,DEN,PHX,PHX @ DEN_01_11_2023,2023-01-11,DEN
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,San,SAS,Mem,MEM,01_11_2023,MEM,SAS,SAS @ MEM_01_11_2023,2023-01-11,MEM
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,Chi,CHI,Was,WAS,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11,WAS
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,Ind,IND,Nyk,NYK,01_11_2023,NYK,IND,IND @ NYK_01_11_2023,2023-01-11,NYK
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,Sac,SAC,Hou,HOU,01_11_2023,SAC,HOU,HOU @ SAC_01_11_2023,2023-01-11,HOU
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,Hou,HOU,Sac,SAC,01_11_2023,SAC,HOU,HOU @ SAC_01_11_2023,2023-01-11,SAC

### Missing Columns

In [250]:
# get columns in old_df_final that are not in missing_games2
missing_games2_cols = missing_games2.columns
old_df_final_cols = old_df_final.columns
missing_cols = [col for col in old_df_final_cols if col not in missing_games2_cols]
missing_cols

['prev_season_champ_winner',
 'team2_prev_season_champ_winner',
 'team_salary',
 'team2_yoy_salary_change',
 'Matchup_GameDate']

In [251]:
today = datetime.datetime.today().strftime('%Y-%m-%d')
today

'2023-01-12'

In [252]:

missing_games2.to_csv('data/team/aggregates/daily_updates/'+str(today)+'.csv', index=False)

## Make an UPDATED DF

In [253]:
old_df_final

,Unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,trad_fg%,...,BL,PTS,POSS,PACE,OEFF,DEFF,HALFTIME,BOX SCORE\nURL,Opp_Abbrev,Nba_com_team_2_abbrev
0,54500,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,0.458,...,3.0,115.0,105.726818,105.726818,108.770889,127.687565,114.5,NaN,Sac,SAC
9,54502,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,0.517,...,4.0,114.0,97.394892,97.394892,117.049259,128.343486,116.5,NaN,Bos,BOS
1,54498,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,0.565,...,4.0,126.0,97.253690,97.253690,129.558067,99.739147,4,BOX SCORE,Pho,PHX
15,54501,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,0.600,...,7.0,135.0,100.692265,100.692265,134.071867,117.188743,113.5,BOX SCORE,Min,MIN
14,54507,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,0.479,...,4.0,135.0,105.726818,105.726818,127.687565,108.770889,-3.5,BOX SCORE,Hou,HOU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23081,16095,UTA,UTA @ POR,2016-10-25,L,48.0,104.0,40.0,82.0,0.488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23082,16093,NYK,NYK @ CLE,2016-10-25,L,48.0,88.0,32.0,87.0,0.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23083,16097,POR,POR vs. UTA,2016-10-25,W,48.0,113.0,39.0,75.0,0.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23084,16092,SAS,SAS @ GSW,2016-10-25,W,48.0,129.0,47.0,98.0,0.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23085,16094,GSW,GSW vs. SAS,2016-10-25,L,48.0,100.0,40.0,85.0,0.471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
missing_games2

,Unnamed: 0,trad_unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,...,Team_Abrev,Nba_com_team_Abbrev,Opp_Abbrev,Nba_com_team_2_abbrev,Date_underscore,HomeTeam,AwayTeam,Matchup_GameDate_y,date,opponent
0,54501,10,DET,DET vs. MIN,2023-01-11,W,48.0,135.0,48.0,80.0,...,Det,DET,Min,MIN,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11,MIN
1,54499,8,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,...,Mil,MIL,Atl,ATL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11,ATL
2,54492,1,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,...,Atl,ATL,Mil,MIL,01_11_2023,ATL,MIL,MIL @ ATL_01_11_2023,2023-01-11,MIL
3,54493,2,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,...,Mem,MEM,San,SAS,01_11_2023,MEM,SAS,SAS @ MEM_01_11_2023,2023-01-11,SAS
4,54494,3,NYK,NYK vs. IND,2023-01-11,W,48.0,119.0,38.0,84.0,...,Nyk,NYK,Ind,IND,01_11_2023,NYK,IND,IND @ NYK_01_11_2023,2023-01-11,IND
5,54495,4,BOS,BOS vs. NOP,2023-01-11,W,48.0,125.0,44.0,91.0,...,Bos,BOS,Nor,NOP,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11,NOP
6,54496,5,WAS,WAS vs. CHI,2023-01-11,W,48.0,100.0,38.0,82.0,...,Was,WAS,Chi,CHI,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11,CHI
7,54498,7,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,...,Den,DEN,Pho,PHX,01_11_2023,DEN,PHX,PHX @ DEN_01_11_2023,2023-01-11,PHX
8,54497,6,MIN,MIN @ DET,2023-01-11,L,48.0,118.0,43.0,88.0,...,Min,MIN,Det,DET,01_11_2023,DET,MIN,MIN @ DET_01_11_2023,2023-01-11,DET
9,54502,11,NOP,NOP @ BOS,2023-01-11,L,48.0,114.0,45.0,87.0,...,Nor,NOP,Bos,BOS,01_11_2023,BOS,NOP,NOP @ BOS_01_11_2023,2023-01-11,BOS
10,54503,12,PHX,PHX @ DEN,2023-01-11,L,48.0,97.0,39.0,90.0,...,Pho,PHX,Den,DEN,01_11_2023,DEN,PHX,PHX @ DEN_01_11_2023,2023-01-11,DEN
11,54504,13,SAS,SAS @ MEM,2023-01-11,L,48.0,129.0,50.0,107.0,...,San,SAS,Mem,MEM,01_11_2023,MEM,SAS,SAS @ MEM_01_11_2023,2023-01-11,MEM
12,54505,14,CHI,CHI @ WAS,2023-01-11,L,48.0,97.0,41.0,88.0,...,Chi,CHI,Was,WAS,01_11_2023,WAS,CHI,CHI @ WAS_01_11_2023,2023-01-11,WAS
13,54506,15,IND,IND @ NYK,2023-01-11,L,48.0,113.0,43.0,90.0,...,Ind,IND,Nyk,NYK,01_11_2023,NYK,IND,IND @ NYK_01_11_2023,2023-01-11,NYK
14,54507,16,SAC,SAC vs. HOU,2023-01-11,W,48.0,135.0,45.0,94.0,...,Sac,SAC,Hou,HOU,01_11_2023,SAC,HOU,HOU @ SAC_01_11_2023,2023-01-11,HOU
15,54500,9,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,...,Hou,HOU,Sac,SAC,01_11_2023,SAC,HOU,HOU @ SAC_01_11_2023,2023-01-11,SAC

In [255]:
# drop min columns
to_drop  = ['Unnamed: 0.4',
 'Unnamed: 0.3',
 'Unnamed: 0.2',
 'Unnamed: 0.1',
 't1_running_trad_min',
 't1_running_adv_min',
 't1_running_four_min',
 't1_running_misc_min',
 't1_running_score_min',
 't2_running_trad_min',
 't2_running_adv_min',
 't2_running_four_min',
 't2_running_misc_min',
 't2_running_score_min',
 'running_t1-t2_trad_min',
 'running_t1-t2_adv_min',
 'running_t1-t2_four_min',
 'running_t1-t2_misc_min',
 'running_t1-t2_score_min',
 'league_running_trad_min',
 'league_running_adv_min',
 'league_running_four_min',
 'league_running_misc_min',
 'league_running_score_min',
 't1_league_delta_trad_min',
 't1_league_delta_adv_min',
 't1_league_delta_four_min',
 't1_league_delta_misc_min',
 't1_league_delta_score_min',
 't2_league_delta_trad_min',
 't2_league_delta_adv_min',
 't2_league_delta_four_min',
 't2_league_delta_misc_min',
 't2_league_delta_score_min',
 't1_delta_minus_t2_delta_trad_min',
 't1_delta_minus_t2_delta_adv_min',
 't1_delta_minus_t2_delta_four_min',
 't1_delta_minus_t2_delta_misc_min',
 't1_delta_minus_t2_delta_score_min',
 'win?',
 'DATASET',
 'MAIN REF',
 'CREW',
 'Opp_abbrev',
 'Nba_com_team_Abbrev.1',
 'date_y',
 'my_gameid']

In [256]:
# drop cols in missing_games
#old_df_final.drop(to_drop, axis=1, inplace=True)

KeyError: "['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 't1_running_trad_min', 't1_running_adv_min', 't1_running_four_min', 't1_running_misc_min', 't1_running_score_min', 't2_running_trad_min', 't2_running_adv_min', 't2_running_four_min', 't2_running_misc_min', 't2_running_score_min', 'running_t1-t2_trad_min', 'running_t1-t2_adv_min', 'running_t1-t2_four_min', 'running_t1-t2_misc_min', 'running_t1-t2_score_min', 'league_running_trad_min', 'league_running_adv_min', 'league_running_four_min', 'league_running_misc_min', 'league_running_score_min', 't1_league_delta_trad_min', 't1_league_delta_adv_min', 't1_league_delta_four_min', 't1_league_delta_misc_min', 't1_league_delta_score_min', 't2_league_delta_trad_min', 't2_league_delta_adv_min', 't2_league_delta_four_min', 't2_league_delta_misc_min', 't2_league_delta_score_min', 't1_delta_minus_t2_delta_trad_min', 't1_delta_minus_t2_delta_adv_min', 't1_delta_minus_t2_delta_four_min', 't1_delta_minus_t2_delta_misc_min', 't1_delta_minus_t2_delta_score_min', 'win?', 'DATASET', 'MAIN REF', 'CREW', 'Opp_abbrev', 'Nba_com_team_Abbrev.1', 'date_y', 'my_gameid'] not found in axis"

In [257]:
# find columns in old_df_final that are not in missing_games2
missing_games2_cols = missing_games2.columns
old_df_final_cols = old_df_final.columns
missing_cols = [col for col in old_df_final_cols if col not in missing_games2_cols]

In [258]:
missing_cols

['prev_season_champ_winner',
 'team2_prev_season_champ_winner',
 'team_salary',
 'team2_yoy_salary_change',
 'Matchup_GameDate']

In [259]:
old_df_final.rename(columns={'date_x' : 'date' }, inplace=True)
missing_games2.rename(columns={'Matchup_GameDate_y' : 'Matchup_GameDate' }, inplace=True)

In [260]:
# find columns in old_df_final that are not in missing_games2
missing_games2_cols = missing_games2.columns
old_df_final_cols = old_df_final.columns
missing_cols = [col for col in old_df_final_cols if col not in missing_games2_cols]

In [261]:
missing_cols

['prev_season_champ_winner',
 'team2_prev_season_champ_winner',
 'team_salary',
 'team2_yoy_salary_change']

In [262]:
# Save as updated_all_things_(+ date)
# append missing_games2 to old_df_final

updated_df = old_df_final.append(missing_games2, ignore_index=True)
# turn date to datetime
updated_df['date'] = pd.to_datetime(updated_df['date'])

updated_df.sort_values(by=['date'], ascending = False, inplace=True)
updated_df

,Unnamed: 0,trad_team,trad_matchup,trad_gamedate,trad_w/l,trad_min,trad_pts,trad_fgm,trad_fga,trad_fg%,...,PACE,OEFF,DEFF,HALFTIME,BOX SCORE\nURL,Opp_Abbrev,Nba_com_team_2_abbrev,team_yoy_salary,team_2_yoy_salary_change,team_2_yoy_salary
0,54500,HOU,HOU @ SAC,2023-01-11,L,48.0,115.0,44.0,96.0,0.458,...,105.726818,108.770889,127.687565,114.5,NaN,Sac,SAC,NaN,NaN,NaN
23093,54498,DEN,DEN vs. PHX,2023-01-11,W,48.0,126.0,48.0,85.0,0.565,...,97.253690,129.558067,99.739147,4,BOX SCORE,Pho,PHX,168351407.0,25.254224,170942549.0
23087,54499,MIL,MIL @ ATL,2023-01-11,W,48.0,114.0,45.0,98.0,0.459,...,98.054082,116.262371,107.083763,3.5,NaN,Atl,ATL,187319919.0,15.654795,156325984.0
23088,54492,ATL,ATL vs. MIL,2023-01-11,L,48.0,105.0,39.0,87.0,0.448,...,98.054082,107.083763,116.262371,115.5,BOX SCORE,Mil,MIL,156325984.0,16.437873,187319919.0
23089,54493,MEM,MEM vs. SAS,2023-01-11,W,48.0,135.0,52.0,101.0,0.515,...,107.720521,125.324310,119.754341,-3,BOX SCORE,San,SAS,129936321.0,-22.404551,99054781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23085,16094,GSW,GSW vs. SAS,2016-10-25,L,48.0,100.0,40.0,85.0,0.471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23084,16092,SAS,SAS @ GSW,2016-10-25,W,48.0,129.0,47.0,98.0,0.480,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23083,16097,POR,POR vs. UTA,2016-10-25,W,48.0,113.0,39.0,75.0,0.520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23082,16093,NYK,NYK @ CLE,2016-10-25,L,48.0,88.0,32.0,87.0,0.368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23081,16095,UTA,UTA @ POR,2016-10-25,L,48.0,104.0,40.0,82.0,0.488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
today = datetime.datetime.today().strftime('%Y-%m-%d')
today

'2023-01-12'

In [264]:
# save as csv
updated_df.to_csv('data/team/aggregates/daily_updates/Updated_All_Things_' + str(today) +'.csv', index=False)