In [13]:
# first load up adv player boxscores, then get every player

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import time
import datetime
import re
import requests
os.chdir('C:\\Users\\Travis\\OneDrive\\Data Science\\Personal_Projects\\Sports\\NBA_Prediction_V3_1')

In [14]:
all_boxes = pd.read_csv('data/player/aggregates/adv_box_scores.csv')
all_boxes.head()

,adv_unnamed: 0,adv_player,adv_team,adv_match up,adv_game date,adv_w/l,adv_min,adv_offrtg,adv_defrtg,adv_netrtg,...,adv_dreb%,adv_reb%,adv_to ratio,adv_efg%,adv_ts%,adv_usg%,adv_pace,adv_pie,adv_season,adv_season_type
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012,Regular
1,1,Wesley Matthews,POR,POR vs. LAL,10/31/2012,W,37.0,118.9,113.7,5.2,...,7.1,3.2,0.0,81.8,80.6,15.5,95.74,14.3,2012,Regular
2,2,Sasha Pavlovic,POR,POR vs. LAL,10/31/2012,W,18.0,132.4,88.9,43.5,...,0.0,3.2,0.0,87.5,78.8,10.8,92.90,14.0,2012,Regular
3,3,Steve Blake,LAL,LAL @ POR,10/31/2012,L,28.0,117.0,107.3,9.7,...,8.0,6.4,0.0,87.5,87.5,6.5,93.41,13.6,2012,Regular
4,4,Brandan Wright,DAL,DAL @ UTA,10/31/2012,L,26.0,107.8,110.2,-2.4,...,8.1,5.1,9.1,87.5,84.5,18.2,92.72,16.9,2012,Regular

In [15]:
all_players = all_boxes['adv_player'].unique()
all_players_df = pd.DataFrame(all_players, columns=['adv_player'])
all_players_df.head()

        adv_player
0              NaN
1  Wesley Matthews
2   Sasha Pavlovic
3      Steve Blake
4   Brandan Wright

In [16]:
# drop nan
all_players_df = all_players_df.dropna()
# split on space
all_players_df['first_name'] = all_players_df['adv_player'].apply(lambda x: x.split(' ')[0])
all_players_df['last_name'] = all_players_df['adv_player'].apply(lambda x: x.split(' ')[-1])
all_players_df.head()

        adv_player first_name last_name
1  Wesley Matthews     Wesley  Matthews
2   Sasha Pavlovic      Sasha  Pavlovic
3      Steve Blake      Steve     Blake
4   Brandan Wright    Brandan    Wright
5     Enes Freedom       Enes   Freedom

In [17]:
all_players_df['first_initial_last_name'] = all_players_df['first_name'].apply(lambda x: x[0]) +'. '+ all_players_df['last_name']
all_players_df.head()

        adv_player first_name last_name first_initial_last_name
1  Wesley Matthews     Wesley  Matthews             W. Matthews
2   Sasha Pavlovic      Sasha  Pavlovic             S. Pavlovic
3      Steve Blake      Steve     Blake                S. Blake
4   Brandan Wright    Brandan    Wright               B. Wright
5     Enes Freedom       Enes   Freedom              E. Freedom

In [18]:
# rename columns
all_players_df = all_players_df.rename(columns={'adv_player':'player_name'})

In [19]:
all_players_df.to_csv('data/player/aggregates_of_aggregates/all_player_names.csv', index=False)